<div class='account-feedback'>
  <form class="order__form" action="" method="post">
    <div class='account-feedback__inner'>
      <div class='title title_type_third'>Написать нам</div>
      <input class="input account-feedback__input" type="text" placeholder="Тема">
      <textarea class="input account-feedback__input" rows="11" cols="10" placeholder='Сообщение'
                class='account-feedback__textarea'></textarea>
      <button class="btn btn_type_first">Отправить</button>
    </div>
  </form>
</div>
