<div class="adress-card">
  <div class="adress-card__title-wrapper">
    <div class="adress-card__title">Адреса доставки</div>
    <div class="adress-card__title adress-card__title_second">Вы не можете удалить основной адрес!</div>
  </div>
  <div class="adress-card__container">
    {% for item in params.items %}
    <div class="adress-card__inner">
      <div class="adress-card__data">
        <div class="adress-card__row">
          <div class="adress-card__first-column">Индекс</div>
          <div>{{ item.index }}</div>
          <div></div>
        </div>
        <div class="adress-card__row">
          <div class="adress-card__first-column">Город</div>
          <div>{{ item.city }}</div>
          <button class="adress-card__button">Удалить</button>
        </div>
        <div class="adress-card__row">
          <div class="adress-card__first-column">Адрес</div>
          <div>{{ item.adress }}</div>
          <div class='adress-card__button-wrapper'>
            <a class="a-clear btn btn_type_first" href='profile-settings-change.html'>Редактировать данные</a>
          </div>
        </div>
        <div class="adress-card__mobile-row">
          <div class="adress-card__link adress-card__link_mobile-hidden">
            <a class="a-clear btn btn_type_first" href='profile-settings-change.html'>Редактировать данные</a>
          </div>
          <button class="adress-card__button adress-card__button_mobile-hidden">Удалить</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="adress-card adress-card_edit-hidden">
  <div class="adress-card__title-wrapper">
    <div class="adress-card__title">Редактировать адрес</div>
  </div>
  <div class="adress-card__container">
    {% for item in params.items %}
    <div class="adress-card__adress">
      <div class="adress-card__item">
        <div class="adress-card__inner-save">
          <div class="adress-card__row-save">
            <div class="adress-card__first">Индекс</div>
            <input class="adress-card__input adress-card__input_edit" type="number" placeholder="{{ item.index }}">
          </div>
          <div class="adress-card__row-save">
            <div class="adress-card__first">Город</div>
            <input class="adress-card__input adress-card__input_edit" type="text" placeholder="{{ item.city }}">
          </div>
          <div class="adress-card__row-save">
            <div class="adress-card__first">Адрес</div>
            <input class="adress-card__input adress-card__input_edit" type="text" placeholder="{{ item.adress }}">
          </div>
          <div class="adress-card__row-save adress-card__row-save-buttons">
            <a class="a-clear adress-card__button-save" href="#">Назад</a>
            <button class="adress-card__button-save">Сохранить</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
