<div class='arrow-next'>
  {% for item in params.items %}
  <a class="a-clear" href="{{ item.link }}">
    <div class='{{ item.background }}'>
      <div class="{{ item.inner }}"></div>
    </div>
  </a>
  {% endfor %}
</div>
