<div class="breadcrumbs">
  <div class="breadcrumbs__container">
    <ul class="breadcrumbs__list">
      {% for item in params.items %}
        <li class="breadcrumbs__item">
          <a href="{{ item.link }}" class="breadcrumbs__link">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
