{%- from "system/component.njk" import component -%}

<div class='card'>
  <div class='card__item'>
    <div class='card__left-side'>
      <div class='card__image-wrapper'>
        <a class='a-clear' href='product.html'>
          <img class='card__image' src='images/meb-dub-a.jpg' width='653' height='537' alt='Мебельный щит из дуба'>
        </a>
      </div>
    </div>
    <div class='card__right-side'>
      <div class='card__description'>
        {% for item in params.item1 %}
        <div class='card__title'>{{ item.title }}</div>
        <div class='card__category-wrapper'>
          <div class='card__text-wrapper'>
            <div class='card__text'>категория {{ item.category }}</div>
            <div class='card__text'>{{ item.size }} мм</div>
          </div>
        </div>
        <div class='card__price-container'>
          <div class='card__price'>от {{ item.price }} ₽</div>
          {% endfor %}
          <a class="a-clear" href="product.html">
            <svg class="card__icon card__icon_arrow" width="87" height="94">
              <use xlink:href="sprite.svg#arrow-next"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='card__item'>
    <div class='card__left-side'>
      <div class='card__image-wrapper'>
        <a class='a-clear' href='product.html'>
          <img class='card__image' src='images/meb-dub-ab.jpg' width='653' height='537' alt='Мебельный щит из дуба'>
        </a>
      </div>
    </div>
    <div class='card__right-side'>
      <div class='card__description'>
        {% for item in params.item2 %}
        <div class='card__title'>{{ item.title }}</div>
        <div class='card__category-wrapper'>
          <div class='card__text-wrapper'>
            <div class='card__text'>категория {{ item.category }}</div>
            <div class='card__text'>{{ item.size }} мм</div>
          </div>
          <div class='card__price-container'>
            <div class='card__price'>от {{ item.price }} ₽</div>
            {% endfor %}
            <a class="a-clear" href="product.html">
              <svg class="card__icon card__icon_arrow" width="87" height="94">
                <use xlink:href="sprite.svg#arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='card__item'>
    <div class='card__left-side'>
      <div class='card__image-wrapper'>
        <a class='a-clear' href='product.html'>
          <img class='card__image' src='images/meb-dub-b.jpg' width='653' height='537' alt='Мебельный щит из дуба'>
        </a>
      </div>
    </div>
    <div class='card__right-side'>
      <div class='card__description'>
        {% for item in params.item3 %}
        <div class='card__title'>{{ item.title }}</div>
        <div class='card__category-wrapper'>
          <div class='card__text-wrapper'>
            <div class='card__text'>категория {{ item.category }}</div>
            <div class='card__text'>{{ item.size }} мм</div>
          </div>
          <div class='card__price-container'>
            <div class='card__price'>от {{ item.price }} ₽</div>
            {% endfor %}
            <a class="a-clear" href="product.html">
              <svg class="card__icon card__icon_arrow" width="87" height="94">
                <use xlink:href="sprite.svg#arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
