{%- from "system/component.njk" import component -%}

<div class='cart-item'>
  <div class='container'>
    <div class='cart-item__main-title-wrapper'>
      <div class='cart-item__main-title'>Корзина</div>
    </div>
    <div class='cart-item__items'>
      {% for item in params.items %}
        <div class="cart-item__item">
          <div class="cart-item__column-first">
            <a class='a-clear' href="{{ item.link }}">
              <picture>
                <source class='cart-item__image' media="(max-width: 1000px)" srcset="{{ item.imageMobile }}">
                <source class='cart-item__image' media="(min-width: 1001px)" srcset="{{ item.image }}">
                <img class='cart-item__image' src={{ item.image }} width="335" height="203"
                     alt='Мебельный щит из дуба'>
              </picture>
            </a>
          </div>
          <div class="cart-item__column-second">
            <div class='cart-item__title-wrapper'>
              <div class="cart-item__title">{{ item.title }}</div>
            </div>
            <div class="cart-item__vendor-code">АРТИКУЛ : {{ item.vendorCode }}</div>
            <div class="cart-item__sizes">
              <div class='cart-item__size-column'>
                <div class='cart-item__icon-description'>
                  <svg class="cart-item__icon" width="26" height="26">
                    <use xlink:href="sprite.svg#width"></use>
                  </svg>
                  <div class='cart-item__icon-option cart-item__icon-option_type_text'>Ширина</div>
                </div>
                <div class='cart-item__icon-option'>{{ item.width }} мм.</div>
              </div>
              <div class='cart-item__size-column'>
                <div class='cart-item__icon-description'>
                  <svg class="cart-item__icon" width="26" height="26">
                    <use xlink:href="sprite.svg#length"></use>
                  </svg>
                  <div class='cart-item__icon-option cart-item__icon-option_type_text'>Длина</div>
                </div>
                <div class='cart-item__icon-option'>{{ item.length }} мм.</div>
              </div>
              <div class='cart-item__size-column'>
                <div class='cart-item__icon-description'>
                  <svg class="cart-item__icon" width="26" height="26">
                    <use xlink:href="sprite.svg#thickness"></use>
                  </svg>
                  <div class='cart-item__icon-option cart-item__icon-option_type_text'>Толщина</div>
                </div>
                <div class='cart-item__icon-option'>{{ item.thickness }} мм.</div>
              </div>
            </div>
          </div>
          <div class="cart-item__column-third">
            <div class='cart-item__bin-wrapper'>
              <div class='cart-item__bin'>
                <button class="btn">
                  <svg class="cart-item__icon cart-item__icon_bin" width="35" height="35">
                    <use xlink:href="sprite.svg#bin"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class='cart-item__amount'>
              {{ component('quantity') }}
            </div>
            <div class="cart-item__price">{{ item.price }} ₽</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="cart-item__order">
      <a class="a-clear btn btn_type_third" href='order.html'>Оформить заказ</a>
    </div>
  </div>
</div>
