<div class="checkmark">
  {% for item in params.items %}
    <input class="checkmark__checkbox" type="checkbox" name="{{ item.name }}"
           value="{{ item.value }}" id="{{ item.id }}" checked>
    <label class="checkmark__label" for="{{ item.for }}">Я согласен с политикой обработки <a href="data-policy.html"> персональных данных </a></label>
  {% endfor %}
</div>
