<div class="circle-arrow">
  <a class="circle-arrow__link link--arrowed" href="faq.html">Подробнее
    <svg class="circle-arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#506d84" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="circle-arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="circle-arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg>
  </a>
</div>
