<div class="contacts-form">
  <div class="title title_type_third">Форма обратной связи</div>
  <form class="contacts-form__form" action="" method="post">
    <div class="contacts-form__inputs">
      <div>
        <input class="input contacts-form__input" type="text" placeholder="Имя*" required>
        <span class="input__error">Ошибка</span>
      </div>
      <div>
        <input class="input contacts-form__input" type="tel" placeholder="Телефон*" required>
        <span class="input__error">Ошибка</span>
      </div>
      <div>
        <input class="input contacts-form__input" type="email" placeholder="E-Mail*" required>
        <span class="input__error">Ошибка</span>
      </div>
      <textarea class="input contacts-form__input" rows="11" cols="10" placeholder='Текст сообщения'
                class='contacts-form__textarea'></textarea>
    </div>
    <div class='checkmark__agreement'>
      <input class="checkmark__checkbox" type="checkbox" id="agreement" name="agreement" value="agree" checked>
      <label class="checkmark__label" for="agreement">Я согласен на обработку <a href="data-policy.html"> персональных данных </a></label>
      <div class="contacts-form__send">
        <button class="btn btn_type_first">Отправить</button>
      </div>
    </div>
  </form>
</div>
