<div class="delivery-navigation">
  <ul class="delivery-navigation__list">
    <li>
      <span class="delivery-navigation__list-title">Доставка</span>
      <ul class="delivery-navigation__list">
        <li class="delivery-navigation__link"><a class="a-clear" href='pickup.html'>Самовывоз</a></li>
        <li class="delivery-navigation__link"><a class="a-clear" href='delivery-city.html'>Доставка по Москве</a></li>
        <li class="delivery-navigation__link"><a class="a-clear" href='delivery-rf.html'>Доставка по РФ</a></li>
      </ul>
    </li>
    <li>
      <span class="delivery-navigation__list-title">Оплата</span>
      <ul class="delivery-navigation__list">
        <li class="delivery-navigation__link"><a class="a-clear" href='payment.html'>Способ оплаты</a></li>
      </ul>
    </li>
  </ul>
</div>
