{%- from "system/component.njk" import component -%}

<div class='extra'>
  <div class='container container_size_big'>
    <div class='title title_type_primary'>с этим товаром покупают</div>
    <div class='extra__inner'>
      <div class='extra__column-first'>
        <div class='extra__item'>
          <div class='extra__image-wrapper'>
            <img class="extra__image" src='images/oil-1.png' alt='масло для мебели' width='221' height='173'>
          </div>
          <div class='extra__bottom-row'>
            <div class='extra__title'>Масло для деревянной мебели Mobel-Ol</div>
            <div class='extra__bottom'>
              <div class="extra__prices">
                <div class='extra__price'>1 800 ₽</div>
                <div class='extra__old-price extra__old-price_size_small'>3900 ₽</div>
              </div>
              {{ component('arrow-next', {
                items: [
                  {
                    link: 'product.html',
                    background: 'arrow-next__background arrow-next__background_position_relative',
                    inner: 'arrow-next__inner arrow-next__inner_position_relative'
                  }
                ]
              }) }}
            </div>
          </div>
        </div>
        <div class='extra__item'>
          <div class='extra__image-wrapper'>
            <img class="extra__image" src='images/oil-3.png' alt='масло для мебели' width='221' height='173'>
          </div>
          <div class='extra__bottom-row'>
            <div class='extra__title'>Масло для деревянной мебели Mobel-Ol</div>
            <div class='extra__bottom'>
              <div class="extra__prices">
                <div class='extra__price'>700 ₽</div>
                <div class='extra__old-price extra__old-price_size_small'>3900 ₽</div>
              </div>
              {{ component('arrow-next', {
                items: [
                  {
                    link: 'product.html',
                    background: 'arrow-next__background arrow-next__background_position_relative',
                    inner: 'arrow-next__inner arrow-next__inner_position_relative'
                  }
                ]
              }) }}
            </div>
          </div>
        </div>
      </div>
      <div class='extra__column-second'>
        <div class='extra__item extra__item_size_big'>
          <div class='extra__top-row'>
            <div class='extra__image-wrapper'>
              <img class="extra__image" src='images/oil-2.png' alt='масло для мебели' width='187' height='213'>
            </div>
            <div class='extra__image-wrapper'>
              <img class="extra__image" src='images/oil-4.png' alt='масло для мебели' width='187' height='213'>
            </div>
            <div class='extra__image-wrapper'>
              <img class="extra__image" src='images/oil-5.png' alt='масло для мебели' width='187' height='213'>
            </div>
            <div class='extra__image-wrapper'>
              <img class="extra__image" src='images/oil-6.png' alt='масло для мебели' width='187' height='213'>
            </div>
          </div>
          <div class='extra__bottom-row extra__bottom-row_size_big'>
            <div class='extra__title'>Масло с твердым воском Premium hartwachsol 4 в 1</div>
            <div class='extra__bottom'>
              <div class='extra__prices'>
                <div class='extra__price extra__price_size_big'>700 ₽</div>
                <div class='extra__old-price extra__old-price_size_big'>3900 ₽</div>
              </div>
              {{ component('arrow-next', {
                items: [
                  {
                    link: 'product.html',
                    background: 'arrow-next__background arrow-next__background_position_relative',
                    inner: 'arrow-next__inner arrow-next__inner_position_relative'
                  }
                ]
              }) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
