{%- from "system/component.njk" import component -%}

<div class="extra-swiper">
  <div class='container'>
    <div class='extra-swiper__text-wrapper'>
      <div class='title title_type_primary'>с этим товаром покупают</div>
    </div>
    <div class="extra-swiper-wrapper">
      <div class="swiper main-extra-swiper">
        <div class="swiper-wrapper extra-swiper__wrapper">
          <div class="swiper-slide">
            <div class='extra-swiper__item'>
              <div class='extra-swiper__image-wrapper'>
                <img src='images/oil-1.png' alt='масло для мебели' width='221' height='173'>
              </div>
              <div class='extra-swiper__bottom-row'>
                <div class='extra-swiper__title'>МАСЛО ДЛЯ ДЕРЕВЯННОЙ МЕБЕЛИ MОBEL-ОL</div>
                <div class='extra-swiper__bottom'>
                  <div class='extra-swiper__price'>1 800 ₽</div>
                  {{ component('arrow-next', {
                    items: [
                      {
                        link: 'product.html',
                        background: 'arrow-next__background arrow-next__background_position_relative',
                        inner: 'arrow-next__inner arrow-next__inner_position_relative'
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class='extra-swiper__item'>
              <div class='extra-swiper__image-wrapper'>
                <img src='images/oil-2.png' alt='масло для мебели' width='221' height='173'>
              </div>
              <div class='extra-swiper__bottom-row'>
                <div class='extra-swiper__title'>МАСЛО С ТВЕРДЫМ ВОСКОМ PREMIUM HARTWACHSÖL</div>
                <div class='extra-swiper__bottom'>
                  <div class='extra-swiper__price'>700 ₽</div>
                  {{ component('arrow-next', {
                    items: [
                      {
                        link: 'product.html',
                        background: 'arrow-next__background arrow-next__background_position_relative',
                        inner: 'arrow-next__inner arrow-next__inner_position_relative'
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class='extra-swiper__item'>
              <div class='extra-swiper__image-wrapper'>
                <img src='images/oil-2.png' alt='масло для мебели' width='221' height='173'>
              </div>
              <div class='extra-swiper__bottom-row'>
                <div class='extra-swiper__title'>МАСЛО С ТВЕРДЫМ ВОСКОМ PREMIUM HARTWACHSÖL</div>
                <div class='extra-swiper__bottom'>
                  <div class='extra-swiper__price'>700 ₽</div>
                  {{ component('arrow-next', {
                    items: [
                      {
                        link: 'product.html',
                        background: 'arrow-next__background arrow-next__background_position_relative',
                        inner: 'arrow-next__inner arrow-next__inner_position_relative'
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-extra"></div>
  </div>
</div>
