<div class='feedback-card'>
  {% for item in params.items %}
    <div class='feedback-card__advantage'>
      <div class='feedback-card__icon-wrapper'>
        <svg class="feedback-card__icon" width="100" height="100">
          <use xlink:href="sprite.svg#{{ item.icon }}"></use>
        </svg>
      </div>
      <div class='feedback-card__advantage-title'>{{ item.title }}</div>
      <div class='feedback-card__text'>{{ item.text }}</div>
    </div>
  {% endfor %}
</div>
