<nav class="hamburger" id='my-menu' hidden>
  <a class='a-clear' href='index.html'>
    <svg class="hamburger__logo" width="365" height="43">
      <use xlink:href="sprite.svg#logo-top"></use>
    </svg>
  </a>
  <ul>
    <li><span>Каталог</span>
      <ul>
        <li><a class="a-clear" href='catalog.html'>Мебельный щит</a></li>
        <li><a class="a-clear" href='catalog.html'>Столы</a></li>
        <li><a class="a-clear" href='catalog.html'>Слэбы</a></li>
        <li><a class="a-clear" href='catalog.html'>Для кухни</a></li>
        <li><a class="a-clear" href='catalog.html'>Декоративные решетки</a></li>
        <li><a class="a-clear" href='catalog.html'>Лакокрасочные изделия</a></li>
      </ul>
    </li>
    <li><a class="a-clear" href='catalog.html'>Акции</a></li>
    <li><a class="a-clear" href='catalog.html'>Услуги</a></li>
    <li><a class="a-clear" href='catalog.html'>Доставка</a></li>
    <li><a class="a-clear" href='catalog.html'>Оплата</a></li>
    <li><a class="a-clear" href='catalog.html'>Услуги</a></li>
    <li><a class="a-clear" href='catalog.html'>Контакты</a></li>
  </ul>
</nav>
