<nav class="header-navigation">
  {% for item in params.items %}
    <details class="header-navigation__details">
      <summary class="header-navigation__summary">{{ item.title }}
        <span class="header-navigation__icon header-navigation__icon_type_arrow-down">
             <svg width="13" height="9">
               <use xlink:href="sprite.svg#arrow-down"></use>
             </svg>
          </span>
        <span class="header-navigation__icon header-navigation__icon_type_arrow-up">
            <svg width="13" height="9">
              <use xlink:href="sprite.svg#arrow-up"></use>
          </svg>
          </span>
      </summary>
      <div class="header-navigation__list">
        {% for li in item.list %}
          <a class="header-navigation__link"><a class="a-clear" href='catalog.html'>{{ li }}</a></a>
        {% endfor %}
      </div>
    </details>
  {% endfor %}
  <a class='a-clear header-navigation__top-link' href='special-offer.html'>АКЦИИ</a>
  <a class='a-clear header-navigation__top-link' href='services.html'>УСЛУГИ</a>
  <a class='a-clear header-navigation__top-link' href='delivery-payment.html'>ДОСТАВКА И ОПЛАТА</a>
  <a class='a-clear header-navigation__top-link' href='faq.html'>FAQ</a>
  <a class='a-clear header-navigation__top-link' href='contacts.html'>КОНТАКТЫ</a>
</nav>
