<div class='history-card'>
  <div class="history-card__title">
    <div class="history__title">История заказов</div>
  </div>
  <div class="history-card__container">
    <div class='history-card__inner'>
      <div class='history-card__row history-card__row_first'>
        <div class='history-card__column'>
          <div class='history-card__summary'>Дата</div>
        </div>
        <div class='history-card__column'>
          <div class='history-card__summary'>Номер</div>
        </div>
        <div class='history-card__column history-card__column_adress'>
          <div class='history-card__summary'>Адрес доставки</div>
        </div>
        <div class='history-card__column history-card__column_price'>
          <div class='history-card__summary'>Сумма</div>
        </div>
      </div>
      {% for item in params.items %}
        <div class="history-card__content">
          <div class='history-card__row history-card__row_second active'>
            <div class="history-card__column">
              <div class="history-card__summary"> {{ item.data }}</div>
            </div>
            <div class="history-card__column">
              <div class="history-card__summary">{{ item.number }}</div>
            </div>
            <div class="history-card__column">
              <div class='history-card__summary history-card__summary_desktop-hidden'>Адрес доставки</div>
              <div class="history-card__summary history-card__summary_type_adress"> {{ item.adress }}</div>
            </div>
            <div class="history-card__column history-card__column_desktop">
              <div class='history-card__summary history-card__summary_desktop-hidden'>Сумма</div>
              <div class="history-card__summary"> {{ item.price }} руб</div>
            </div>
          </div>
          <div class="history-card__row history-card__row_type_hover">
            <div class="history-card__column-third">
              <svg class="history-card__icon" width="24" height="24">
                <use xlink:href="sprite.svg#history"></use>
              </svg>
              <a class='history-card__third' href=''>Повторить заказ</a>
            </div>
            <div class="history-card__column-third history-card__column-third_mobile-hidden"></div>
            <div class="history-card__column-third history-card__column-third_mobile-hidden"></div>
            <div class="history-card__column-third">
              <svg class="history-card__icon" width="24" height="24">
                <use xlink:href="sprite.svg#view"></use>
              </svg>
              <a class='history-card__third' href='history-order.html'>Посмотреть</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
