<div class="main-swiper-wrapper">
  <div class="container container_size_big">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="main-swiper__container">
            <picture>
              <source class="main-swiper__image" media="(max-width: 768px)" srcset="images/slide-1-768w.jpg">
              <source class="main-swiper__image" media="(min-width: 769px)" srcset="images/slide-1.jpg">
              <img class="main-swiper__image" src="images/slide-1.jpg" alt="slab">
            </picture>
            <div class="main-swiper__text-wrapper">
              <div class='main-swiper__title'>Большой выбор слэбов разных пород дерева</div>
              <div class='main-swiper__text'>Карагач, дуб, орех, тополь, ясень</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-swiper__container">
            <picture>
              <source class="main-swiper__image" media="(max-width: 768px)" srcset="images/slide-2-768w.jpg">
              <source class="main-swiper__image" media="(min-width: 769px)" srcset="images/slide-2.jpg">
              <img class="main-swiper__image" src="images/slide-2.jpg" alt="slab">
            </picture>
            <div class="main-swiper__text-wrapper">
              <div class='main-swiper__title'>Уникальные столы из слэбов</div>
              <div class='main-swiper__text'>Ручная работа</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-swiper__container">
            <picture>
              <source class="main-swiper__image" media="(max-width: 768px)" srcset="images/slide-3-768w.jpg">
              <source class="main-swiper__image" media="(min-width: 769px)" srcset="images/slide-3.jpg">
              <img class="main-swiper__image" src="images/slide-3.jpg" alt="slab">
            </picture>
            <div class="main-swiper__text-wrapper">
              <div class='main-swiper__title'>Слэбы из карагача</div>
              <div class='main-swiper__text'>Быстро и качественно</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-main"></div>
    </div>
  </div>
</div>
