{% for item in params.items %}
  <div class="account-card ">
    <div class="account-card__image-wrapper">
      <picture>
        <source class='account-card__image' media="(max-width: 1000px)" srcset="{{ item.imageMobile }}">
        <source class='account-card__image' media="(min-width: 1001px)" srcset="{{ item.image }}">
        <img class='account-card__image' src={{ item.image }} width='148' height='132' alt='Мебельный щит из дуба'>
      </picture>
    </div>
    <div class="account-card__column-second">
      <div class='account-card__title-wrapper'>
        <div class="account-card__title">{{ item.title }}</div>
      </div>
      <div class='account-card__amount-price'>
        <div class="account-card__amount">{{ item.amount }} шт.</div>
        <div class="account-card__price account-card__price_size_big">{{ item.price }} ₽</div>
      </div>
      <div class="account-card__vendor-code">АРТИКУЛ : {{ item.vendorCode }}</div>
      <div class="account-card__sizes">
        <div class='account-card__size-column'>
          <div class='account-card__icon-description'>
            <svg class="account-card__icon" width="26" height="26">
              <use xlink:href="sprite.svg#width"></use>
            </svg>
            <div class='account-card__icon-option account-card__icon-option_type_text'>Ширина</div>
          </div>
          <div class='account-card__icon-option'>{{ item.width }}</div>
        </div>
        <div class='account-card__size-column'>
          <div class='account-card__icon-description'>
            <svg class="account-card__icon" width="26" height="26">
              <use xlink:href="sprite.svg#length"></use>
            </svg>
            <div class='account-card__icon-option account-card__icon-option_type_text'>Длина</div>
          </div>
          <div class='account-card__icon-option'>{{ item.length }}</div>
        </div>
        <div class='account-card__size-column'>
          <div class='account-card__icon-description'>
            <svg class="account-card__icon" width="26" height="26">
              <use xlink:href="sprite.svg#thickness"></use>
            </svg>
            <div class='account-card__icon-option account-card__icon-option_type_text'>Толщина</div>
          </div>
          <div class='account-card__icon-option'>{{ item.thickness }}</div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
