{%- from "system/component.njk" import component -%}

<div class="price-cart">
  <div class="price-cart__prices">
    <div class='price-cart__price'>35 900 ₽</div>
    <div class="price-cart__price-old">44 000 ₽</div>
  </div>
  <div class='price-cart__amount'>
    {{ component('quantity') }}
  </div>
  <div class='price-cart__cart'>
    <button class='btn btn_type_cart'>
      <svg class="price-cart__icon-cart" width="30" height="30">
        <use xlink:href="sprite.svg#shopping-basket"></use>
      </svg>
      <span class='price-cart__icon-text'>Купить</span>
    </button>
  </div>
</div>
