<div class='product__swiper'>
  <div class="swiper product__main">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product__wrapper">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="644" height='592'
               data-fancybox="product"
               data-src="#pop-up-product">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper product__thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
      <div class="swiper-slide product-thumb-slide">
        <div class="product-thumb-container">
          <img class="product__image" src="images/meb-dub-a.jpg" alt="Slide 02" width="140" height='131'></div>
      </div>
    </div>
  </div>
  <button class='product__button product__button_prev'>
    <span class="product-button-prev"></span>
  </button>
  <button class='product__button product__button_next'>
    <span class="product-button-next"></span>
  </button>
</div>
