{%- from "system/component.njk" import component -%}

<div class='product-description js-product-description'>
  <div class='product-description__inner'>
    <div class='product-description__title-wrapper'>
      <div class='product-description__title'>Мебельный щит из дуба</div>
      <div class='product-description__vendor-code'>АРТИКУЛ : А-20</div>
    </div>
    <div class="product-description__bottom">
      <div class="product-description__all-options">
        <div class="product-description__row">
          <div class="product-description__column-first">
            <svg class="product-description__icon" width="26" height="26">
              <use xlink:href="sprite.svg#lamel"></use>
            </svg>
            <span class='product-description__category'>Ламель</span>
            <button class="btn product-description__btn" data-fancybox data-src="#pop-up-question">
              <svg class="product-description__icon product-description__icon_type_question" width="20" height="20">
                <use xlink:href="sprite.svg#question"></use>
              </svg>
            </button>
          </div>
          <div class="product-description__column-second">
            <button class="btn product-description__option-btn active" data-name="lamel" data-value="all-lamellar">
              <svg class="product-description__lamel" width="39" height="39">
                <use xlink:href="sprite.svg#lamel-1"></use>
              </svg>
            </button>
            <button class="btn product-description__option-btn" data-name="lamel" data-value="spliced">
              <svg class="product-description__lamel" width="39" height="39">
                <use xlink:href="sprite.svg#lamel-2"></use>
              </svg>
          </div>
        </div>
        <div class="product-description__row">
          <div class="product-description__column-first">
            <svg class="product-description__icon" width="26" height="26">
              <use xlink:href="sprite.svg#category"></use>
            </svg>
            <span class='product-description__category'>Категория</span>
            <button class="btn product-description__btn" data-fancybox data-src="#pop-up-question">
              <svg class="product-description__icon product-description__icon_type_question" width="20" height="20">
                <use xlink:href="sprite.svg#question"></use>
              </svg>
            </button>
          </div>
          <div class="product-description__column-second">
            <button class="btn product-description__option-btn active" data-name="category" data-value="A">
              <span class='product-description__option'>A</span>
            </button>
            <button class="btn product-description__option-btn" data-name="category" data-value="АБ">
              <span class='product-description__option'>AБ</span>
            </button>
          </div>
        </div>
        <div class="product-description__row">
          <div class="product-description__column-first">
            <svg class="product-description__icon" width="26" height="26">
              <use xlink:href="sprite.svg#thickness"></use>
            </svg>
            <span class='product-description__category'>Толщина</span>
            <button class="btn product-description__btn" data-fancybox data-src="#pop-up-question">
              <svg class="product-description__icon product-description__icon_type_question" width="20" height="20">
                <use xlink:href="sprite.svg#question"></use>
              </svg>
            </button>
          </div>
          <div class="product-description__column-second">
            <button class="btn product-description__option-btn active" data-name="thickness" data-value="20">
              <span class='product-description__option'>20</span>
            </button>
            <button class="btn product-description__option-btn" data-name="thickness" data-value="30">
              <span class='product-description__option'>30</span>
            </button>
          </div>
        </div>
        <div class="product-description__row">
          <div class="product-description__column-first">
            <svg class="product-description__icon" width="26" height="26">
              <use xlink:href="sprite.svg#width"></use>
            </svg>
            <span class='product-description__category'>Ширина</span>
            <button class="btn product-description__btn" data-fancybox data-src="#pop-up-question">
              <svg class="product-description__icon product-description__icon_type_question" width="20" height="20">
                <use xlink:href="sprite.svg#question"></use>
              </svg>
            </button>
          </div>
          <div class="product-description__column-second">
            <button class="btn product-description__option-btn active" data-name="width" data-value="20">
              <span class='product-description__option'>20</span>
            </button>
            <button class="btn product-description__option-btn" data-name="width" data-value="30">
              <span class='product-description__option'>30</span>
            </button>
          </div>
        </div>
        <div class="product-description__row">
          <div class="product-description__column-first">
            <svg class="product-description__icon" width="26" height="26">
              <use xlink:href="sprite.svg#length"></use>
            </svg>
            <span class='product-description__category'>Длина</span>
            <button class="btn product-description__btn" data-fancybox data-src="#pop-up-question">
              <svg class="product-description__icon product-description__icon_type_question" width="20" height="20">
                <use xlink:href="sprite.svg#question"></use>
              </svg>
            </button>
          </div>
          <div class="product-description__column-second">
            <button class="btn product-description__option-btn active" data-name="length" data-value="20">
              <span class='product-description__option'>20</span>
            </button>
            <button class="btn product-description__option-btn" data-name="length" data-value="30">
              <span class='product-description__option'>30</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="product-description__specifications">
      <div class="product-description__price-wrapper">
        <div class="product-description__prices">
          <div class='product-description__price'>35 900 ₽</div>
          <div class="product-description__price-old">44 000 ₽</div>
        </div>
        <div class='product-description__order'>
          <div class='product-description__amount'>
            {{ component('quantity') }}
          </div>
          <div class='product-description__cart'>
            <button class='btn btn_type_cart'>
              <svg class="product-description__icon-cart" width="30" height="30">
                <use xlink:href="sprite.svg#shopping-basket"></use>
              </svg>
              <span class='product-description__icon-text'>Купить</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
