<div class="quantity" data-quantity>
  <button class="quantity__btn quantity__btn_left" data-button="decrease">
    <span class='quantity__sign quantity__sign_type_minus'>-</span>
  </button>
  <input value="0" class="quantity__number" data-input/>
  <button class="quantity__btn quantity__btn_right" data-button="increase">
    <span class='quantity__sign quantity__sign_type_plus'>+</span>
  </button>
</div>
