<div class="question-card">
  {% for item in params.items %}
    <div class="question-card__wrapper">
      <details class="question-card__details">
        <summary class="question-card__summary">
          {{ item.title }}
          <span class="question-card__icon question-card__icon_type_plus">
             <svg width="17" height="17">
               <use xlink:href="sprite.svg#plus"></use>
             </svg>
          </span>
          <span class="question-card__icon question-card__icon_type_minus">
            <svg width="17" height="4">
              <use xlink:href="sprite.svg#minus"></use>
          </svg>
          </span>
        </summary>
        <div class="question-card__inner">
          <div class="question-card__text">{{ item.text }}</div>
        </div>
      </details>
    </div>
  {% endfor %}
</div>
