{%- from "system/component.njk" import component -%}

<div class="related-swiper-container">
  <div class='related-swiper-container__text-wrapper'>
    <div class='related-swiper-container__title'>Похожие товары</div>
  </div>
  <div class="related-swiper-wrapper">
    <div class="swiper related-swiper">
      <div class="swiper-wrapper related-swiper-container__wrapper">
        {% for i in [1,2,3,4,5] -%}
          <div class="swiper-slide">
            <div class="related-swiper__slides">
              <div class="related-swiper__container">
                <div class="related-swiper__image-wrapper">
                  <img class='related-swiper__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='173'
                       height='124'>
                </div>
                <div class='related-swiper__description'>
                  <div class='related-swiper__title'>Мебельный щит из дуба</div>
                  <div class="related-swiper__prices">
                    <span class='related-swiper__price'>от  1 160 ₽</span>
                    {{ component('arrow-next', {
                      items: [
                        {
                          link: 'product.html',
                          background: 'arrow-next__background arrow-next__background_position_relative',
                          inner: 'arrow-next__inner arrow-next__inner_position_relative'
                        }
                      ]
                    }) }}
                  </div>
                </div>
              </div>
              <div class="related-swiper__container">
                <div class="related-swiper__image-wrapper">
                  <img class='related-swiper__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='173'
                       height='124'>
                </div>
                <div class='related-swiper__description'>
                  <div class='related-swiper__title'>Мебельный щит из дуба</div>
                  <div class="related-swiper__prices">
                    <span class='related-swiper__price'>от  1 160 ₽</span>
                    {{ component('arrow-next', {
                      items: [
                        {
                          link: 'product.html',
                          background: 'arrow-next__background arrow-next__background_position_relative',
                          inner: 'arrow-next__inner arrow-next__inner_position_relative'
                        }
                      ]
                    }) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination swiper-pagination-related"></div>
    </div>
  </div>
</div>
