<div class='reviews'>
  <div class='container'>
    <div class='reviews__title-wrapper'>
      <button class='btn reviews__button-first'>Отзывы</button>
      <button class='btn reviews__button-second'>Вопросы и ответы</button>
    </div>
    <div class='reviews__inner'>
      <div class='reviews__inputs'>
        <input class="reviews__input reviews__input_name" type="text" value="Ваше имя"></input>
        <textarea class="reviews__input reviews__input_text" rows="7" cols="7" placeholder='Текст сообщения'
                  class='reviews__textarea'></textarea>
      </div>
      <div class='reviews__bottom'>
        <div class='reviews__marks'>
          <div class='reviews__mark'>Оценка</div>
          <div class='reviews__number-inputs'>
            <div>1</div>
            <input class='reviews__radio-input' type='radio' id="one" name="number" value="1">
            <input class='reviews__radio-input' type='radio' id="two" name="number" value="2">
            <input class='reviews__radio-input' type='radio' id="three" name="number" value="3">
            <input class='reviews__radio-input' type='radio' id="four" name="number" value="4">
            <input class='reviews__radio-input' type='radio' id="five" name="number" value="5">
            <div>5</div>
          </div>
        </div>
        <div class='reviews__button'>
          <button class="btn btn_type_first">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='reviews reviews_comment-hidden'>
  <div class='container'>
    <div class='reviews__title-wrapper'>
      <button class='btn reviews__button-first'>Отзывы</button>
      <button class='btn reviews__button-second'>Вопросы и ответы</button>
    </div>
    <div class='reviews__inner'>
      <div class='reviews__comment-wrapper'>
        <div class='reviews__name'>Андрей Попов</div>
        <div class='reviews__comment'>Отличный материал. Серьезно, у меня у самого дом из клееного бруса,
          лиственницы так он до сих пор сохраняет такой легкий запах древесины, прямо очень приятно.
        </div>
      </div>
      <div class='reviews__bottom reviews__bottom_comment-hidden'>
        <div class='reviews__marks reviews__marks_comment-hidden'>
          <div class='reviews__number-inputs'>
            <div class='reviews__number'>1</div>
            <input class='reviews__radio-input' type='radio' id="one" name="mark" value="1" disabled>
            <input class='reviews__radio-input' type='radio' id="two" name="mark" value="2" disabled>
            <input class='reviews__radio-input' type='radio' id="three" name="mark" value="3" disabled>
            <input class='reviews__radio-input' type='radio' id="four" name="mark" value="4" disabled>
            <input class='reviews__radio-input' type='radio' id="five" name="mark" value="5" disabled checked>
            <div class='reviews__number'>5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='reviews reviews_question-hidden'>
  <div class='container'>
    <div class='reviews__title-wrapper'>
      <button class='btn reviews__button-first'>Отзывы</button>
      <button class='btn reviews__button-second'>Вопросы и ответы</button>
    </div>
    <div class='reviews__inner'>
      <div class="question">
        <div class='container'>
          <div class="question-swiper-wrapper">
            <div class="swiper question-swiper">
              <div class="swiper-wrapper question__wrapper">
                <div class="swiper-slide">
                  <div class="question-swiper__container">
                    <div class="swiper-slide">
                      <div class="question-swiper__container">
                        <div class='reviews__comment-wrapper'>
                          <div class='reviews__name'>Вопрос: Почему мебельный щит из дуба такой дорогой?</div>
                          <div class='reviews__comment'>Ответ: Древесина дуба очень прочная. Дубовая лестница прослужит
                            более 50 лет, тогда,
                            как лестница из березы или сосны меньше почти в два раза. Вот и получается что "дорогой"
                            понятие относительное.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="question-swiper__container">
                    <div class='reviews__comment-wrapper'>
                      <div class='reviews__name'>Вопрос: Почему мебельный щит из дуба такой дорогой?</div>
                      <div class='reviews__comment'>Ответ: Древесина дуба очень прочная. Дубовая лестница прослужит
                        более 50 лет, тогда,
                        как лестница из березы или сосны меньше почти в два раза. Вот и получается что "дорогой" понятие
                        относительное.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="question-swiper__container">
                    <div class='reviews__comment-wrapper'>
                      <div class='reviews__name'>Вопрос: Почему мебельный щит из дуба такой дорогой?</div>
                      <div class='reviews__comment'>Ответ: Древесина дуба очень прочная. Дубовая лестница прослужит
                        более 50 лет, тогда,
                        как лестница из березы или сосны меньше почти в два раза. Вот и получается что "дорогой" понятие
                        относительное.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-question"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
