<div class='search-field js-search-field'>
  <div class="search-field__inner">
    <div class='search-field__column-first'>
      <div class='search-field__row'>
        <form>
          <div class="search-field__form">
            <input class="search-field__input" type="text">
          </div>
        </form>
      </div>
      <div class='search-field__clear-wrapper'>
        <div class='search-field__clear'>Очистить историю</div>
      </div>
      <div class='search-field__row'>
        <svg class="search-field__icon" width="16" height="15">
          <use xlink:href="sprite.svg#history"></use>
        </svg>
        <a class='a-clear search-field__text' href='product.html'>Слэбы из дуба</a>
      </div>
      <div class='search-field__row'>
        <svg class="search-field__icon" width="16" height="15">
          <use xlink:href="sprite.svg#history"></use>
        </svg>
        <a class='a-clear search-field__text' href='product.html'>стол</a>
      </div>
    </div>
    <div class='search-field__column-second'>
      <button class='btn search-field__cancel js-button-cancel'>Отмена</button>
    </div>
  </div>
</div>
