<div class="service">
  <div class="service__inner">
    <div class="service__desktop-hidden">
      {% for item in params.items %}
        <div class="service__item">
          <div class="service__title">{{ item.title }}</div>
          {% for option in item.options %}
            <div class="service__text-wrapper">
              <div class="service__heading">{{ option.heading }}</div>
              <div class="service__text">{{ option.text }}</div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="service__mobile-hidden">
      {% for item in params.items %}
        <details class="service__details">
            <summary class="service__summary">
              <span class="service__heading">{{ item.title }}</span>
            </summary>
          {% for option in item.options %}
            <div class="service__summary-inner">
              <div class="service__heading">{{ option.heading }}</div>
              <div class="service__text">{{ option.text }}</div>
            </div>
          {% endfor %}
        </details>
      {% endfor %}
    </div>
  </div>
</div>
