<div class="submenu">
  <div class="submenu__container">
    <div class='submenu__inner'>
      <a class='a-clear submenu__summary' href="account.html">
        <svg class="submenu__icon" width="19" height="18">
          <use xlink:href="sprite.svg#account"></use>
        </svg>
        Личный Кабинет</a>

      <a class='a-clear submenu__summary' href="profile-settings.html">
        <svg class="submenu__icon" width="19" height="18">
          <use xlink:href="sprite.svg#settings"></use>
        </svg>Настройка профиля</a>

      <a class='a-clear submenu__summary' href="adress.html">
        <svg class="submenu__icon" width="19" height="18">
          <use xlink:href="sprite.svg#adress"></use>
        </svg>Адреса</a>

      <a class='a-clear submenu__summary' href="history.html">
        <svg class="submenu__icon" width="19" height="18">
          <use xlink:href="sprite.svg#history"></use>
        </svg>История заказов</a>

      <a class='a-clear submenu__summary' href="index.html">
        <svg class="submenu__icon" width="19" height="18">
          <use xlink:href="sprite.svg#exit"></use>
        </svg>Выйти из аккаунта</a>
    </div>
  </div>
</div>
