<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <title>{{ renderData.title or title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="description" content="{{ preview or site.description }}" />
    <link rel="stylesheet" href="{{ '/css/app.css' | url }}" />
    <link rel="shortcut icon" href="#">
    <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;"
      type="text/javascript"></script>
  </head>
  <body>
    <div>
      {% include 'components/hamburger.njk' %}
      {% include 'layout/header.njk' %}
      <main class="main">{{ content | safe }}</main>
      {% include 'layout/footer.njk' %}
    </div>
    <script type="module" src="{{ '/js/app.js' | url }}"></script>
  </body>
</html>
