---
title: Адреса
layout: page.njk
permalink: adress.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Личный кабинет',
      link: 'account.html'
    },
    {
      name: 'Адреса',
      link: 'adress.html'
    }
  ]
}) }}

{{ block('adress') }}
