---
title: Корзина
layout: page.njk
permalink: cart.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ block('cart') }}
