---
title: Каталог
layout: page.njk
permalink: catalog.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Каталог',
      link: 'catalog.html'
    },
    {
      name: 'Мебельный щит',
      link: 'catalog.html'
    }
  ]
}) }}

{{ block('catalog', {
  items: [
    {
      title: 'Мебельный щит из дуба',
      image: 'images/cat-slab-1.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из ясеня',
      image: 'images/cat-slab-2.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из сосны',
      image: 'images/cat-slab-3.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из бука',
      image: 'images/cat-slab-4.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из ели',
      image: 'images/cat-slab-5.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из дуба',
      image: 'images/cat-slab-6.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из ясеня',
      image: 'images/cat-slab-7.jpg',
      link: 'product.html'
    },
    {
      title: 'Мебельный щит из сосны',
      image: 'images/cat-slab-8.jpg',
      link: 'product.html'
    }
  ]
}) }}

{{ block('feedback') }}
{{ block('benefits') }}
{{ block('information') }}
{{ block('questions') }}
