---
title: Политика обработки персональных данных
layout: page.njk
permalink: data-policy.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}


{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Политика обработки персональных данных',
      link: 'data-policy.html'
    }
  ]
}) }}

{{ block('data-policy')}}
