---
title: Доставка по РФ
layout: page.njk
permalink: delivery-rf.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}


{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Доставка и оплата',
      link: 'delivery-payment.html'
    },
    {
      name: 'Доставка по РФ',
      link: 'delivery-rf.html'
    }
  ]
}) }}

{{ block('delivery-rf')}}
