---
title: Доставка по Москве
layout: page.njk
permalink: delivery-city.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Доставка и оплата',
      link: 'delivery-payment.html'
    },
    {
      name: 'Доставка по Москве',
      link: 'delivery-city.html'
    }
  ]
}) }}

{{ block('delivery-city')}}
