---
title: FAQ
layout: page.njk
permalink: faq.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'FAQ',
      link: 'faq.html'
    }
  ]
}) }}

{{ block('faq') }}
