---
title: Бесплатная доставка
layout: page.njk
permalink: free-delivery.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Акции',
      link: 'special-offer.html'
    },
    {
      name: 'Бесплатная доставка',
      link: 'free-delivery.html'
    }
  ]
}) }}

{{ block('free-delivery')}}
