---
title: История заказов
layout: page.njk
permalink: history.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Контакты',
      link: 'contacts.html'
    },
    {
      name: 'История заказов',
      link: 'history.html'
    }
  ]
}) }}

{{ block('history') }}
