---
title: Главная страница
layout: page.njk
permalink: index.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('main-swiper') }}
{{ block('recommend') }}
{{ block('middle-navigation') }}
{{ block('information') }}
