---
title: Оформление заказа
layout: page.njk
permalink: order.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Корзина',
      link: 'cart.html'
    },
    {
      name: 'Оформление заказа',
      link: 'order.html'
    }
  ]
}) }}

{{ block('order')}}
