---
title: Способ оплаты
layout: page.njk
permalink: payment.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Доставка и оплата',
      link: 'delivery-payment.html'
    },
    {
      name: 'Способ оплаты',
      link: 'payment.html'
    }
  ]
}) }}

{{ block('payment')}}
