---
title: Страница товара
layout: page.njk
permalink: product.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Каталог',
      link: 'catalog.html'
    },
    {
      name: 'Мебельный щит из дуба',
      link: 'product.html'
    }
  ]
}) }}

{{ block('product') }}
{{ component('price-cart') }}
