---
title: Настройки профиля
layout: page.njk
permalink: profile-settings.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Личный кабинет',
      link: 'account.html'
    },
    {
      name: 'Настройки профиля',
      link: 'profile-settings.html'
    }
  ]
}) }}

{{ block('profile-settings') }}
