---
title: Услуги
layout: page.njk
permalink: services.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('line') }}
{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Услуги',
      link: 'services.html'
    }
  ]
}) }}

{{ block('services') }}
