---
title: Акции
layout: page.njk
permalink: special-offer.html
---

{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('breadcrumbs', {
  items: [
    {
      name: 'Главная',
      link: 'index.html'
    },
    {
      name: 'Акции',
      link: 'special-offer.html'
    }
  ]
}) }}

{{ block('special-offer')}}
