{%- from "system/component.njk" import component -%}

<footer class="footer">
  <div class="footer__top">
    <div class="footer__background-wrapper">
      <img class="footer__background" src="images/footer.jpg" alt="зеленый фон" width="1920" height="386">
    </div>
    <div class="container container_size_big">
      <div class="footer__inner">
        <div class="footer__info">
          <svg class="footer__logo-icon" width="385" height="40">
            <use xlink:href="sprite.svg#logo-bottom"></use>
          </svg>
          <div class="footer__contact-us">
            <form action="" method="">
              <div class="footer__title-wrapper">
                <div class="footer__contact-title">Связаться с нами</div>
              </div>
              <div class="footer__input-wrapper">
                <input class="footer__input" type="text" placeholder="Ваш email или номер телефона" required>
                <button class="footer__arrow-right"></button>
              </div>
              <div class="footer__agreement">
                <input class="footer__checkbox" type="checkbox" id="contact" name="contact"
                       value="Email или телефон" checked required>
                <label class="footer__label" for="contact">Я согласен с политикой обработки <a class="footer__link footer__link_size_sm" href="data-policy.html"> персональных данных </a></label>
              </div>
            </form>
          </div>
          <div class="footer__contacts">
            <div class="footer__social-net">
              <div class="footer__contact-title">Соц.сети</div>
              <div class="footer__icons">
                <a href="#" class="a-clear">
                  <svg class="footer__icon" width="30" height="30">
                    <use xlink:href="sprite.svg#vk"></use>
                  </svg>
                </a>
                <a href="#" class="a-clear">
                  <svg class="footer__icon" width="30" height="30">
                    <use xlink:href="sprite.svg#facebook"></use>
                  </svg>
                </a>
                <a href="#" class="a-clear">
                  <svg class="footer__icon" width="30" height="30">
                    <use xlink:href="sprite.svg#instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="footer__links">
              <a class="footer__link" href="mailto:info@skladslabov.ru">info@skladslabov.ru</a>
              <a class="footer__link" href="tel:84959245585">+7 495 924-55-85</a>
            </div>
            <div class="footer__adress">
              <div class="footer__text footer__text_top">Москва, 41км Мкад, Д.4, Стр.29 (Строительный Комплекс
                "Славянский
                Мир", Пав. Д-5/1.)
              </div>
            </div>
          </div>
        </div>
        <div class="footer__navigation">
          <div class="footer__column">
            <div class="footer__nav-link footer__nav-link_type_first">РАЗДЕЛЫ</div>
            <ul class="footer__list">
              <li><a class="footer__nav-link" href='special-offer.html'>Акции</a></li>
              <li><a class="footer__nav-link" href='services.html'>Услуги</a></li>
              <li><a class="footer__nav-link" href='delivery-payment.html'>Доставка</a></li>
              <li><a class="footer__nav-link" href='payment.html'>Оплата</a></li>
              <li><a class="footer__nav-link" href='faq.html'>FAQ</a></li>
              <li><a class="footer__nav-link" href='contacts.html'>Контакты</a></li>
            </ul>
          </div>
          <div class="footer__column">
            <div class="footer__nav-link footer__nav-link_type_first">КАТАЛОГ</div>
            <ul class="footer__list">
              <li><a class="footer__nav-link" href='catalog.html'>Мебельные щиты</a></li>
              <li><a class="footer__nav-link" href='catalog.html'>Декоративные решётки</a>
              </li>
              <li><a class="footer__nav-link" href='catalog.html'>Подоконники</a></li>
              <li><a class="footer__nav-link" href='catalog.html'>Слэбы</a></li>
              <li><a class="footer__nav-link" href='catalog.html'>Столешницы</a></li>
              <li><a class="footer__nav-link" href='catalog.html'>Элементы для лестницы</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container container_size_big">
      <div class="footer__bottom-text">
        <div class="footer__text footer__text_bottom">© 2015 - 2022 г. Все права защищены.</div>
        <div class="footer__text footer__text_bottom"><span class="footer__copyright">Сайт разработан</span>
          <a class="a-clear footer__upline" href="https://uplinestudio.ru/" target="_blank">uplinestudio.ru</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="pop-up" id="pop-up-login" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper'>
      <div class='pop-up__title'>Вход</div>
    </div>
    <div class='pop-up__register'>
      <div class="pop-up__text">Нет аккаунта?
        <a class="a-clear pop-up__text pop-up__text_underline" href="#" data-fancybox data-src="#pop-up-register">Зарегистрироваться</a>
      </div>
    </div>
    <div class='pop-up__inputs'>
      <form class="pop-up__form" action="" method="post">
        <input class="pop-up__input" type="email" placeholder="E-mail" required>
        <input class="pop-up__input" type="password" placeholder="Пароль" required>
        <div class="pop-up__checkmark pop-up__checkmark_position_left">
          <div class="checkmark">
            <input class="checkmark__checkbox" type="checkbox" name="remember"
                   value="Запомнить меня" id="remember" checked>
            <label class="checkmark__label" for="remember">Запомнить меня</label>
          </div>
        </div>
        <div class='pop-up__button'>
          <a class="btn btn_type_pop-up-login">Войти</a>
        </div>
        <div class="pop-up__password-recovery">
          <div class="pop-up__text">Забыли пароль?
            <a class="pop-up__text pop-up__text_underline" data-fancybox data-src="#pop-up-password">Восстановить</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="pop-up" id="pop-up-register" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper'>
      <div class='pop-up__title'>Регистрация</div>
    </div>
    <div class='pop-up__register'>
      <div class="pop-up__text">Есть аккаунт?
        <a class="pop-up__text pop-up__text_underline" href="#" data-fancybox data-src="#pop-up-login">Войти</a></div>
    </div>
    <div class='pop-up__inputs'>
      <form class="pop-up__form" action="" method="post">
        <input class="pop-up__input" type="name" placeholder="Имя" required>
        <input class="pop-up__input" type="tel" placeholder="Телефон" required>
        <input class="pop-up__input" type="email" placeholder="E-mail" required>
        <input class="pop-up__input" type="password" placeholder="Пароль" required>
        <input class="pop-up__input" type="password" placeholder="Повторите пароль" required>
        <div class="pop-up__checkmark">
          {{ component('checkmark', {
            items: [
              {
                id: 'register',
                name: 'register',
                value: 'Я согласен с политикой обработки персональных данных',
                for: 'register'
              }
            ]
          }) }}
        </div>
        <div class='pop-up__button'>
          <a class="btn btn_type_pop-up-register">Зарегистрироваться</a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="pop-up" id="pop-up-password" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper'>
      <div class='pop-up__title'>Восстановление пароля</div>
    </div>
    <div class='pop-up__inputs'>
      <form class="pop-up__form" action="" method="post">
        <input class="pop-up__input" type="email" placeholder="E-mail" required>
        <div class='pop-up__button'>
          <a class="btn btn_type_pop-up-register">Отправить письмо</a>
        </div>
      </form>
      <div class="pop-up__go-back">
        <a class="pop-up__text" href="#" data-fancybox data-src="#pop-up-login">Вернуться назад</a>
      </div>
    </div>
  </div>
</div>

<div class="pop-up" id="pop-up-order" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper'>
      <div class='pop-up__title'>Заказ № 1032939402201 успешно оформлен!</div>
    </div>
    <div class="pop-up__go-back">
      <a class="pop-up__text" href="#" data-fancybox data-src="#pop-up-login">На главную</a>
    </div>
  </div>
</div>


<div class="pop-up-product" id="pop-up-product" hidden>
  <div>
    <img src="images/meb-dub-a.jpg" alt="мебельный щит их дуба" width="421" height='387'>
  </div>
</div>


<div class="pop-up" id="pop-up-feedback" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper'>
      <div class='pop-up__title'>Оставить заявку</div>
    </div>
    <div class='pop-up__inputs'>
      <form class="pop-up__form" action="" method="post">
        <input class="pop-up__input" type="name" placeholder="Имя" required>
        <input class="pop-up__input" type="tel" placeholder="Телефон" required>
        <textarea class="pop-up__input" rows="11" cols="10" placeholder='Сообщение'
                  class='pop-up__textarea'></textarea>
        <div class="pop-up__checkmark">
          {{ component('checkmark', {
            items: [
              {
                id: 'feedback',
                name: 'feedback',
                value: 'Я согласен с политикой обработки персональных данных',
                for: 'feedback'
              }
            ]
          }) }}
        </div>
        <div class='pop-up__button'>
          <a class="btn btn_type_first">Отправить</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="pop-up" id="pop-up-question" hidden>
  <div class='pop-up__inner'>
    <div class='pop-up__title-wrapper pop-up__title-wrapper_type_question'>
      <div class='pop-up__title pop-up__title_type_question'>Ламель</div>
      <div class='pop-up__text pop-up__text_type_question'>Задача организации, в особенности
        же консультация с широким активом играет важную роль в формировании
        существенных финансовых и административных условий. С другой стороны
        укрепление и развитие структуры влечет за собой процесс внедрения и модернизации
        системы обучения кадров, соответствует насущным потребностям. Повседневная
        практика показывает, что реализация намеченных плановых заданий влечет за
        собой процесс
        внедрения и модернизации дальнейших направлений развития.
      </div>
      <div class='pop-up__text pop-up__text_type_question'>Повседневная практика показывает,
        что реализация намеченных плановых заданий влечет за собой
        процесс внедрения и модернизации дальнейших направлений развития.
      </div>
    </div>
  </div>
</div>
