{%- from "system/component.njk" import component -%}

<header class="header">
  {{ component('search-field') }}
  <div class="header__container">
    <div class="header__middle">
      <div class="header__hamburger">
        <a class="btn header__hamburger-button" id="open-button" href="#my-menu">
          <svg class="header__hamburger-icon" width="21" height="15">
            <use xlink:href="sprite.svg#burger-menu"></use>
          </svg>
        </a>
      </div>
      <div class="header__logo">
        <a class='a-clear' href='index.html'>
          <svg class="header__logo-icon" width="365" height="43">
            <use xlink:href="sprite.svg#logo-top"></use>
          </svg>
        </a>
      </div>
      <div class="header__navigation">
        {{ component('header-navigation', {
          items: [
            {
              title: 'Каталог',
              list: [
              'Мебельный щит',
              'Столы',
              'Слэбы',
              'Для кухни',
              'Декоративные решетки',
              'Лакокрасочные изделия'
            ]
            }
          ]
        }) }}
      </div>
      <div class="header__account">
        <a class="a-clear header__contacts" href="mailto:info@skladslabov.ru">info@skladslabov.ru</a>
        <a class="a-clear header__contacts" href="tel:84959245585">+7 495 924-55-85</a>
        <a class="a-clear header__phone" href="tel:84959245585">
          <svg class="header__icon" width="43" height="43">
            <use xlink:href="sprite.svg#phone"></use>
          </svg></a>
        <div class="header__search">
          <button class="search-button js-search-button">
            <svg class="header__icon search-icon" width="17" height="17">
              <use xlink:href="sprite.svg#search"></use>
            </svg>
          </button>
        </div>
        <div class="header__cart">
          <a class="a-clear" href="cart.html">
            <div class="header__number-wrapper">
              <div class="header__number">2</div>
            </div>
            <svg class="header__icon header__icon_cart" width="44" height="40">
              <use xlink:href="sprite.svg#shopping-basket"></use>
            </svg>
          </a>
        </div>
        <div class="header__user">
          <a class="a-clear" href="#" data-fancybox data-src="#pop-up-login">
            <svg class="header__icon" width="39" height="39">
              <use xlink:href="sprite.svg#user"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
