.btn {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 20px;
  font-family: inherit;
  line-height: 1;
  white-space: nowrap;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;

  &_type {
    &_first {
      max-width: 303px;
      padding: 17px 85px;
      color: #fff;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_second {
      max-width: 303px;
      padding: 17px 60px;
      color: #fff;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_third {
      max-width: 303px;
      padding: 17px 38px;
      color: white;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_feedback-white {
      max-width: 274px;
      padding: 26px 50px;
      color: #506d84;
      font-weight: 500;
      font-size: 20px;
      background-color: #fff;
      border-radius: 7px;

      &:hover {
        color: #fff;
        background-color: #506d84;
        border: 2px solid #fff;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_feedback-blue {
      max-width: 274px;
      padding: 26px 50px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_more {
      display: none;
    }

    &_cart {
      grid-gap: 24px;
      padding: 16px;
      color: #fff;
      background-color: #506d84;
      border-radius: 10px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;

        .product-description__icon-cart,
        .product-description__icon-text {
          color: #506d84;
        }
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_pop-up-login {
      padding: 17px 156px;
      color: #fff;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    &_pop-up-register {
      padding: 17px 75px;
      color: #fff;
      background-color: #506d84;
      border-radius: 7px;

      &:hover {
        color: #506d84;
        background-color: #fff;
        border: 2px solid #506d84;
      }

      &:disabled {
        color: #8a8686;
        background-color: #e5e5e5;
        border: 2px solid #8a8686;
      }

      &:focus {
        color: #fff;
        background-color: #889eaf;
        border-color: #889eaf;
      }
    }

    @media screen and (max-width: 768px) {
      &_more {
        display: flex;
        margin: 0 auto;
        color: #506d84;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
      }

      &_cart {
        grid-gap: 14px;
        padding: 10px;
        color: #fff;
        background-color: #506d84;
        border-radius: 10px;
      }
    }

    @media screen and (max-width: 450px) and (max-width: 768px) {
      &_first {
        padding: 17px 10px;
      }
    }
  }
}
