.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 10px;

  &_type {
    &_product {
      max-width: 1744px;
      padding: 0 25px;
    }
  }

  &_size {
    &_big {
      max-width: 1744px;
      padding: 0 10px;
    }

    &_small {
      max-width: 794px;
      padding: 0 10px;
    }
  }

  @media screen and (max-width: 768px) {
    &_size {
      &_big {
        padding: 0 10px;
      }
    }
  }
}
