.input {
  width: 100%;
  color: #aaa;
  font-size: 24px;
  font-family: inherit;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 7px;
  outline: none;

  &:disabled {
    color: #506d84;
    background-color: #889eaf61;
    border-color: #889eaf61;
  }

  &:active {
    color: #506d84;
    background-color: #f5f5f5;
    border-color: #889eaf;
  }

  &:hover,
  &:focus {
    color: #889eaf;
    background-color: #f5f5f5;
    border-color: #889eaf;
  }

  &__error {
    display: none;
    margin-top: 3px;
    padding-left: 10px;
    color: #c56a6a;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }

  &:invalid:not(:placeholder-shown) {
    background: url('../../images/exclamation.svg') no-repeat right 45%;
    border-color: red;
  }

  &:invalid:not(:placeholder-shown) + .input__error {
    display: block;
  }
}
