@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='radio'] {
    --active: #fff;
    --active-inner: #506d84;
    --input-border: #506d84;
    --input-border-hover: #23c4f8;
    --background: #fff;
    --disabled: #b4b4b4;
    --disabled-inner: #fff;
    --shadow-inner: rgba(18, 22, 33, 0.1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 0;
    padding: 0;
    background: var(--background);
    border: 3px solid #506d84;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      background-color: #889eafb2;
    }

    &:checked {
      background: var(--active-inner);
      border: 3px solid var(--input-border);

      &::after {
        filter: drop-shadow(0 1px 2px var(--shadow-inner));
        transition: opacity 0.3s ease, filter 0.3s ease,
          transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
      }
    }

    &:disabled {
      color: #B4B4B4;
      background: var(--disabled-inner);
      border-color: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }

    &:not(.switch) {
      min-width: 20px;

      &::after {
        opacity: 0;
      }

      &:checked {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &::after {
      width: 12px;
      height: 11px;
      background: var(--active-inner);
      border-radius: 50%;
      opacity: 0;
    }

    &:checked {
      &::after {
        background: var(--active-inner);
      }
    }
  }
}
