.title {
  &_type {
    &_primary {
      font-size: 30px;
      text-transform: uppercase;
    }

    &_secondary {
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;
    }

    &_third {
      font-weight: 700;
      font-size: 36px;
      text-transform: uppercase;
    }

    @media screen and (max-width: 768px) {
      &_primary {
        font-size: 16px;
      }

      &_secondary {
        font-size: 24px;
      }

      &_third {
        font-size: 24px;
      }
    }
  }
}
