{%- from "system/component.njk" import component -%}

<div class='account'>
  <div class='container container_size_big'>
    <div class='account__inner'>
      <div class="account__submenu">
        {{ component('submenu') }}
      </div>
      <div class="account__last-order">
        <div class="account__order">
          <div class="title title_type_third">Ваш последний заказ</div>
          <div class="account__all-cards">
            {{ component('account-card', {
              items: [
                {
                  image: 'images/last-order1.jpg',
                  imageMobile: 'images/last-order-mob-1.jpg',
                  title: 'Мебельный щит из дуба',
                  vendorCode: 'а-20',
                  amount: 3,
                  price: 35900,
                  width: 200,
                  thickness: 40,
                  length: 1200
                },
                {
                  image: 'images/last-order2.jpg',
                  imageMobile: 'images/last-order-mob-2.jpg',
                  title: 'Мебельный щит из дуба',
                  vendorCode: 'а-20',
                  amount: 3,
                  price: 35900,
                  width: 200,
                  thickness: 40,
                  length: 1200
                },
                {
                  image: 'images/last-order1.jpg',
                  imageMobile: 'images/last-order-mob-1.jpg',
                  title: 'Мебельный щит из дуба',
                  vendorCode: 'а-20',
                  amount: 3,
                  price: 35900,
                  width: 200,
                  thickness: 40,
                  length: 1200
                },
                {
                  image: 'images/last-order2.jpg',
                  imageMobile: 'images/last-order-mob-2.jpg',
                  title: 'Мебельный щит из дуба',
                  vendorCode: 'а-20',
                  amount: 3,
                  price: 35900,
                  width: 200,
                  thickness: 40,
                  length: 1200
                }
              ]
            }) }}
          </div>
        </div>
        <div class='account__no-order'>
          <div class="account__title">Ваш последний заказ</div>
          <div class="account__text">Вы еще не совершали заказы!</div>
        </div>
        {{ component('account-feedback') }}
      </div>
    </div>
  </div>
</div>
