{%- from "system/component.njk" import component -%}

<div class='adress'>
  <div class='container container_size_big'>
    <div class='adress__inner'>
      <div class="adress__submenu">
        {{ component('submenu') }}
      </div>
      <div class="adress__last-orders">
        {{ component('adress-card', {
          items: [
            {
              number: 1,
              index: 001010201002,
              city: 'Москва',
              adress: 'Татьяны Макаровой д.2'
            }
          ]
        }) }}
      </div>
    </div>
  </div>
</div>
