<div class='benefits'>
  <div class='benefits__top'>
    <div class="container container_size_big">
      <div class='benefits__feedback'>
        <div class='benefits__feedback-column'>
          <div class='benefits__text-wrapper'>
            <div class='benefits__title'>Преимущества</div>
            <div>Это востребованный материал, который заинтересует ценителей природной красоты дерева.</div>
            <ul class='benefits__list'>
              <li class='benefits__link'>Долгий срок службы</li>
              <li class='benefits__link'>Экологичность</li>
              <li class='benefits__link'>Простота в обработке</li>
            </ul>
            <div>Ищете где купить мебельный щит из дуба в Москве?
              Это востребованный материал, который заинтересует ценителей природной красоты дерева.
              Для производства изделий задействуется метод склеивания.
            </div>
          </div>
          <div class='benefits__button-wrapper'>
            <button class='btn btn_type_feedback-blue' data-fancybox
                    data-src="#pop-up-feedback">Оставить заявку
            </button>
          </div>
        </div>
        <div class='benefits__image-wrapper'>
          <img class='benefits__image' src='images/benefits.jpg' alt='Плотник' width='505' height='465'>
        </div>
      </div>
    </div>
  </div>
  <div class='benefits__bottom'>
    <div class="container container_size_big">
      <div class="benefits__inner">
        <div class="benefits__column">
          <div class="benefits__icon-wrapper">
            <svg class="benefits__icon" width="107" height="107">
              <use xlink:href="sprite.svg#truck"></use>
            </svg>
          </div>
          <div class="benefits__bottom-text-wrapper">
            <div class="benefits__bottom-title">БЫСТРАЯ ДОСТАВКА</div>
            <div class="benefits__bottom-text">Доставляем транспортными
              компаниями по всей России
            </div>
          </div>
        </div>
        <div class="benefits__column">
          <div class="benefits__icon-wrapper">
            <svg class="benefits__icon" width="107" height="107">
              <use xlink:href="sprite.svg#24"></use>
            </svg>
          </div>
          <div class="benefits__bottom-text-wrapper">
            <div class="benefits__bottom-title">7 ДНЕЙ В НЕДЕЛЮ</div>
            <div class="benefits__bottom-text">Работаем ПН-СБ С 9-00 ДО 18-00
              ВС С 10-00 ДО 17-00.
            </div>
          </div>
        </div>
        <div class="benefits__column">
          <div class="benefits__icon-wrapper">
            <svg class="benefits__icon" width="107" height="107">
              <use xlink:href="sprite.svg#payment"></use>
            </svg>
          </div>
          <div class="benefits__bottom-text-wrapper">
            <div class="benefits__bottom-title">ОПЛАТА</div>
            <div class="benefits__bottom-text">Оплата возможна
              наличными или картой
            </div>
          </div>
        </div>
        <div class="benefits__column">
          <div class="benefits__icon-wrapper">
            <svg class="benefits__icon" width="107" height="107">
              <use xlink:href="sprite.svg#gifts"></use>
            </svg>
          </div>
          <div class="benefits__bottom-text-wrapper">
            <div class="benefits__bottom-title">ПОДАРКИ</div>
            <div class="benefits__bottom-text">Всем покупателям
              подарки при покупке
              от 30 Тысяч рублей
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits__bottom-white"></div>
</div>
