{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

{{ component('cart-item', {
  items: [
    {
      image: 'images/cart-item.jpg',
      imageMobile: 'images/last-order-mob-1.jpg',
      title: 'Мебельный щит из дуба',
      vendorCode: 'а-20',
      amount: 3,
      price: 35900,
      width: 200,
      thickness: 40,
      length: 1200,
      link: 'product.html'
    }
  ]
}) }}
