{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

<div class="catalog">
  <div class="container container_size_big">
    <div class='catalog__title-main-wrapper'>
      <div class='title title_type_secondary'>Мебельные щиты</div>
    </div>
    <div class='catalog__options'>
      {% for item in params.items %}
        <div class="catalog__option">
          <a class="a-clear" href="{{ item.link }}">
            <div class='catalog__image-wrapper'>
              <img class='catalog__image' src='{{ item.image }}' alt='мебельный щит' width='413' height='241'>
            </div>
            <div class='catalog__description'>
              <div class="catalog__title-wrapper">
                <span class="catalog__title">{{ item.title }}</span>
              </div>
              <div class='catalog__arrow-wrapper'>
                {{ component('arrow-next', {
                  items: [
                    {
                      link: 'product.html',
                      background: 'arrow-next__background arrow-next__background_position_absolute',
                      inner: 'arrow-next__inner arrow-next__inner_position_absolute'
                    }
                  ]
                }) }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <button class="btn btn_type_more">Показать ещё</button>
  </div>
</div>
