{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

<div class="contacts">
  <div class="container container_size_big">
    <div class="contacts__inner">
      <div class="contacts__left-side">
        <div class="title title_type_third">Контакты</div>
          <a class="a-clear contacts__text contacts__text_size_lg" href="tel:89859245585">+7 985 924 55 85</a>
          <a class="a-clear contacts__text contacts__text_size_lg" href="tel:84959245585">+7 495 924 55 85</a>
          <div class="contacts__icons">
            <a class="a-clear" href="#">
              <svg class="contacts__icon" width="50" height="50">
                <use xlink:href="sprite.svg#whatsapp"></use>
              </svg>
            </a>
            <a class="a-clear" href="#">
              <svg class="contacts__icon" width="50" height="50">
                <use xlink:href="sprite.svg#telegram"></use>
              </svg>
            </a>
          </div>
          <a class="a-clear contacts__text contacts__text_size_lg" href="mailto:info@skladslabov.ru">info@skladslabov.ru</a>
        <div class="contacts__time">
          <div class="contacts__text contacts__text_size_lg">Время работы:</div>
          <div class="contacts__text contacts__text_size_md">Пн-Сб — с 9-00 до 18-00</div>
          <div class="contacts__text contacts__text_size_md">Вс — с 10-00 до 17-00</div>
        </div>
        <div class="contacts__text-wrapper">
          <div class="contacts__text contacts__text_size_md">Москва, 41км. МКАД-а, строительная
            ярмарка "Славянский мир" (Мельница),
            Ряд Д, павильон 5/1.
          </div>
        </div>
        <button class="btn btn_type_third">Проложить маршрут</button>
        <div class='map js-map' id='map'
             data-latitude="55.6763020729798"
             data-longitude="37.621690103149376"
        ></div>
      </div>
      <div class="contacts__right-side">
        {{ component('contacts-form') }}
      </div>
    </div>
  </div>
</div>
