{%- from "system/component.njk" import component -%}

<div class="data-policy">
  <div class="container container_size_big">
    <div class="data-policy__inner">
      <div>
      <div class="title title_type_primary">Политика обработки персональных данных</div>
      <p class="paragraph">Настоящее соглашение на обработку персональных данных составлено в соответствии с Федеральным
        законом РФ № 152 «О персональных данных».</p>
      <p class="paragraph">Посетители сайта при размещении (вводе) своих персональных данных на интернет-сайте
        skladslabov.ru дают согласие на обработку своих персональных данных, указанных в форме на данном сайте, и
        подтверждают, что дают такое согласие, действуя в своих личных интересах.</p>
      <p class="paragraph">Под персональными данными понимаются следующие сведения: общая информация о посетителях (имя,
        контактный телефон и адрес электронной почты).</p>
      <p class="paragraph">Посетители сайта направляют свои персональные данные для получения бесплатной информации об
        услугах и дают своё согласие на получение информации рекламного характера об услугах, предоставляемых сайтом
        skladslabov.ru</p>
      <p class="paragraph">Обработка персональных данных включает в себя следующие действия: сбор, систематизация,
        накопление, хранение, уточнение (обновление, изменение), использование, уничтожение и передачу третьим лицам с
        целью эффективного выполнения заказа.</p>
      <p class="paragraph">Граждане гарантируют, что информация является полной, точной и достоверной; при
        предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и
        интересы третьих лиц; вся предоставленная информация заполнена в отношении себя лично.</p>
      <p class="paragraph">Отзыв согласия на обработку персональных данных может быть осуществлен путём направления
        гражданином соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail)
        info@skladslabov.ru
      </p>
      </div>
      <div>
        {{ component('contacts-form') }}
      </div>
    </div>
  </div>
</div>
