{%- from "system/component.njk" import component -%}

<div class="delivery-payment_desktop-hidden">
  <div class="container container_size_big">
    <div class="delivery-payment__inner">
      <div class="delivery-payment__navigation">
        {{ component('delivery-navigation') }}
      </div>
      <div class="delivery-payment__details">
        <div class="delivery-payment__row-first">
          <div class="title title_type_third">Доставка И оплата</div>
          <div class="delivery-payment__text">Уважаемый покупатель, заказы без предоплаты не бронируются и могут быть
            проданы, если необходимо
            зафиксировать складской запас под ваш заказ, менеджер предложит внести предоплату.
          </div>
        </div>
        <div class="delivery-payment__options">
          <div class="delivery-payment__row">
            <div class="delivery-payment__title">Время доставки</div>
            <div class="delivery-payment__text">Время доставки согласовывается с менеджером Службы доставки, который
              обязательно
              свяжется с вами сразу после того, как вы разместите свой заказ.
            </div>
            <div class="delivery-payment__text">Внимание! Неправильно указанный номер телефона, неточный или неполный
              адрес могут привести
              к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при
              регистрации и оформлении заказа.Конфиденциальность ваших регистрационных данных гарантируется.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="delivery-payment delivery-payment_mobile-hidden">
  <div class="container">
    <div class="delivery-payment__title">Доставка и оплата</div>
    <div class="delivery-payment__first-rows">
      <div class="delivery-payment__option-wrapper delivery-payment__option-wrapper_pickup">
        <div class="delivery-payment__option">Самовывоз</div>
        <div class="delivery-payment__arrow-next">
          {{ component('arrow-next', {
            items: [
              {
                link: 'product.html',
                background: 'arrow-next__background arrow-next__background_type_mobile',
                inner: 'arrow-next__inner arrow-next__inner_type_mobile'
              }
            ]
          }) }}
        </div>
      </div>
      <div class="delivery-payment__option-wrapper delivery-payment__option-wrapper_city">
        <div class="delivery-payment__option">Доставка по Москве</div>
        <div class="delivery-payment__arrow-next">
          {{ component('arrow-next', {
            items: [
              {
                link: 'product.html',
                background: 'arrow-next__background arrow-next__background_type_mobile',
                inner: 'arrow-next__inner arrow-next__inner_type_mobile'
              }
            ]
          }) }}
        </div>
      </div>
      <div class="delivery-payment__option-wrapper delivery-payment__option-wrapper_country">
        <div class="delivery-payment__option">Доставка по РФ</div>
        <div class="delivery-payment__arrow-next">
          {{ component('arrow-next', {
            items: [
              {
                link: 'product.html',
                background: 'arrow-next__background arrow-next__background_type_mobile',
                inner: 'arrow-next__inner arrow-next__inner_type_mobile'
              }
            ]
          }) }}
        </div>
      </div>
    </div>
    <div class="delivery-payment__second-rows">
      <div class="delivery-payment__option-wrapper delivery-payment__option-wrapper_payment">
        <div class="delivery-payment__option">Способ оплаты</div>
        <div class="delivery-payment__arrow-next">
          {{ component('arrow-next', {
            items: [
              {
                link: 'product.html',
                background: 'arrow-next__background arrow-next__background_type_mobile',
                inner: 'arrow-next__inner arrow-next__inner_type_mobile'
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </div>
</div>
