{%- from "system/component.njk" import component -%}

<div class="delivery-city">
  <div class="container container_size_big">
    <div class="delivery-city__inner">
      <div class="delivery-city__navigation">
        {{ component('delivery-navigation') }}
      </div>
      <div class="delivery-city__details">
        <div class="delivery-city__title">Доставка по Москве</div>
        <div class="delivery-city__title-second">Стоимость доставки Москва и МО</div>
        <div class="delivery-city__text-wrapper">
          <div class="delivery-city__text">Наш основной оптовый склад расположен на МКАДе
            (съезд у м. Калужского шоссе, в сторону области). Чтобы купить нашу продукцию можно
            приехать как на своем авто и забрать готовые изделия, или на общественном транспорте,
            оплатить покупку и заказать доставку нашим транспортом. Изделия из дерева будут
            доставлены по указанному Вами адресу.
            Материал будет упакован, при покупке Вы можете отобрать комплектующие и подписать их.</div>
        </div>
      </div>
    </div>
  </div>
</div>
