{%- from "system/component.njk" import component -%}

<div class="delivery-rf">
  <div class="container container_size_big">
    <div class="delivery-rf__inner">
      <div class="delivery-rf__navigation">
        {{ component('delivery-navigation') }}
      </div>
      <div class="delivery-rf__details">
        <div class="delivery-rf__row-first">
          <div class="delivery-rf__title delivery-rf__title_first">Доставка по РФ</div>
          <div class="delivery-rf__text">Уважаемый покупатель, заказы без предоплаты не бронируются и могут быть
            проданы, если необходимо
            зафиксировать складской запас под ваш заказ, менеджер предложит внести предоплату.
          </div>
        </div>
        <div class="delivery-rf__options">
          <div class="delivery-rf__row">
            <div class="delivery-rf__title">Время доставки</div>
            <div class="delivery-rf__text">Время доставки согласовывается с менеджером Службы доставки, который
              обязательно
              свяжется с вами сразу после того, как вы разместите свой заказ.
            </div>
            <div class="delivery-rf__text">Внимание! Неправильно указанный номер телефона, неточный или неполный
              адрес могут привести
              к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при
              регистрации и оформлении заказа.Конфиденциальность ваших регистрационных данных гарантируется.
            </div>
          </div>
          <div class="delivery-rf__row">
            <div class="delivery-rf__title">Стоимость доставки по России</div>
            <div class="delivery-rf__text">Согласовывается с менеджером Службы доставки.</div>
            <div class="delivery-rf__text">Внимание! Неправильно указанный номер телефона, неточный или неполный
              адрес могут привести к
              дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при регистрации и
              оформлении заказа.Конфиденциальность ваших регистрационных данных гарантируется.
            </div>
          </div>
          <div class="delivery-rf__row">
            <div class="delivery-rf__title">Стоимость доставки до Санкт-Петербурга</div>
            <div class="delivery-rf__text">Согласовывается с менеджером Службы доставки.</div>
            <div class="delivery-rf__text">Транспортные компании:</div>
            <div class="delivery-rf__text">— ПЭК</div>
            <div class="delivery-rf__text">— Деловые линии</div>
            <div class="delivery-rf__text">Внимание! Неправильно указанный номер телефона, неточный или неполный
              адрес
              могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные
              данные при регистрации и оформлении заказа.Конфиденциальность ваших регистрационных данных гарантируется.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
