{%- from "system/component.njk" import component -%}

<div class="faq">
  <div class="container container_size_big">
    <div class="title title_type_third">FAQ</div>
    <div class="faq__inner">
      {{ component('question-card', {
        items: [
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Вы берете комиссию?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Будет ли цена объективной',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Я могу отказаться от продажи?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Будет ли цена объективной',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          }
        ]
      }) }}
    </div>
  </div>
</div>
