{%- from "system/component.njk" import component -%}

<div class='feedback'>
  <div class='container container_size_big'>
    <div class='feedback__title'>ПЛЮСЫ МЕБЕЛЬНЫХ ЩИТОВ ИЗ ДУБА</div>
    <div class='feedback__cards'>
      {{ component('feedback-card', {
        items: [
          {
            title: 'Прочность',
            icon: 'shield',
            text: 'Дуб невозможно повредить даже при сильном физическом воздействии.
          Этот материал не боится больших нагрузок и механических повреждений.'
          },
          {
            title: 'Экологичность',
            icon: 'leaf',
            text: 'Для соединения брусков дерева задействуют безопасный клеевой состав.
      Готовый материал не содержит вредных компонентов'
          },
          {
            title: 'Обработка',
            icon: 'tick-screw',
            text: 'Щиту из дуба возможно придать любую форму. Благодаря этому он активно применяется в разных сферах.'
          },
          {
            title: 'Долговечность',
            icon: 'time',
            text: 'Изделия из натуральной древесины служат долго благодаря высокой прочности.
      Служат долго благодаря высокой.'
          },
          {
            title: 'Доступность',
            icon: 'price-down',
            text: 'Низкая цена мебельных щитов делает их доступными для проведения разных отделочных работ'
          },
          {
            title: 'Красивый вид',
            icon: 'starlight',
            text: 'Естественный рисунок дерева не теряет своей привлекательности даже по прохождении большого отрезка времени.'
          }
        ]
      }) }}
    </div>
    <div class='feedback__description'>
      <div class='feedback__text'>
        Интернет-магазин "Склад слэбов" предлагает продукцию собственного
        производства по хорошей цене. У нас есть сращеный и цельноламельный
        мебельный щит из дуба.
      </div>
      <div class='feedback__button-wrapper'>
        <button class='btn btn_type_feedback-white' data-fancybox
                data-src="#pop-up-feedback">Оставить заявку</button>
      </div>
    </div>
  </div>
</div>


