<div class="free-delivery">
  <div class="container container_size_big">
    <div class="free-delivery__inner">
      <div class="title title_type_third">Бесплатная доставка по Москве</div>
      <div class="free-delivery__text">Доставка при покупке от 250000₽ по Москве в пределах МКАД бесплатно.</div>
    </div>
  </div>
</div>
