{%- from "system/component.njk" import component -%}


<div class='history'>
  <div class='container container_size_big'>
    <div class='history__inner'>
      <div class='history__submenu'>
        {{ component('submenu') }}
      </div>
      <div class="history__card">
        {{ component('history-card', {
          items: [
            {
              data: '29.11.2021',
              number: 145842334 ,
              adress: 'Москва, Народоного ополчения д.44',
              price: 290000
            },
            {
              data: '29.11.2021',
              number: 145842334 ,
              adress: 'Москва, Народоного ополчения д.44',
              price: 290000
            },
            {
              data: '29.11.2021',
              number: 145842334 ,
              adress: 'Москва, Народоного ополчения д.44',
              price: 290000
            },
            {
              data: '29.11.2021',
              number: 145842334 ,
              adress: 'Москва, Народоного ополчения д.44',
              price: 290000
            }
          ]
        }) }}
        <div class="history__no-order">
          <div class="history__title">История заказов</div>
          <div class="history__text">Вы ещё не совершали заказы в нашем магазине!</div>
        </div>
      </div>
    </div>
  </div>
</div>
