{%- from "system/component.njk" import component -%}

<div class='history-order'>
  <div class='container container_size_big'>
    <div class='history-order__inner'>
      <div class='history-order__submenu'>
        {{ component('submenu') }}
      </div>
      <div class="history__account-card">
        <div class="title title_type_secondary">Заказ № 145842334</div>
        {{ component('account-card', {
          items: [
            {
              image: 'images/last-order1.jpg',
              imageMobile: 'images/last-order-mob-1.jpg',
              title: 'Мебельный щит из дуба',
              vendorCode: 'а-20',
              amount: 3,
              price: 35900,
              width: 200,
              thickness: 40,
              length: 1200
            }
          ]
        }) }}
      <div class='history-order__bottom'>
        <div class='history-order__final-price'>
        <div>Итого : </div>
        <div>362700 ₽</div>
        </div>
        <div class="history-order__repeat">
          <svg class="history-order__icon" width="24" height="24">
            <use xlink:href="sprite.svg#history"></use>
          </svg>
          <a class='history-order__link' href='#'>Повторить заказ</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
