{%- from "system/component.njk" import component -%}

<div class="information">
  <div class="container container_size_big">
    <div class="title title_type_third">ИНФОРМАЦИЯ</div>
    <div class="information__text information__text_type_info">Ищете где купить мебельный щит из дуба в Москве?
      Это востребованный материал, который заинтересует ценителей природной красоты дерева.
      Для производства
    </div>
    <div class="information__inner">
      <div class="information__column">
        <a class="a-clear information__link" href="faq.html">
          <div class="information__image-wrapper">
            <img class="information__image" src="images/info-1.jpg" alt="Производство мебельного щита" width="541px"
                 height="285px">
          </div>
          <div class="information__title">Где купить МЕБЕЛЬНЫЙ ЩИТ ИЗ ДУБА?</div>
          <div class="information__text information__text_type_description">Интернет-магазин "Склад слэбов" предлагает
            продукцию
            собственного производства по хорошей цене.
            У нас есть сращеный и цельноламельный мебельный щит из дуба.
          </div>

          <div class="information__learn-more">
            {{ component('circle-arrow') }}
          </div>
        </a>
      </div>
      <div class="information__column">
        <a class="a-clear information__link" href="faq.html">
          <div class="information__image-wrapper">
            <img class="information__image" src="images/info-2.jpg" alt="Производство мебельного щита" width="541px"
                 height="285px">
          </div>
          <div class="information__title">МЕБЕЛЬНЫЙ ЩИТ ОТ ПРОИЗВОДИТЕЛЯ</div>
          <div class="information__text information__text_type_description">
            Цельноламельный мебельный щит из дуба часто применяется для создания вместительных стеллажей,
            полок, журнальных столиков, корпусной мебели и больших деревянных лестниц.
          </div>
          <div class="information__learn-more">
            {{ component('circle-arrow') }}
          </div>
        </a>
      </div>
      <div class="information__column">
        <a class="a-clear information__link" href="faq.html">
          <div class="information__image-wrapper">
            <img class="information__image" src="images/info-3.jpg" alt="Производство мебельного щита" width="541px"
                 height="285px">
          </div>
          <div class="information__title">МЕБЕЛЬНЫЙ ЩИТ ОТ ПРОИЗВОДИТЕЛЯ</div>
          <div class="information__text information__text_type_description">
            Цельноламельный мебельный щит из дуба часто применяется для создания вместительных стеллажей,
            полок, журнальных столиков, корпусной мебели и больших деревянных лестниц.
          </div>
          <div class="information__learn-more">
            {{ component('circle-arrow') }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
