<div class="middle-navigation">
  <div class="container container_size_big">
    <div class="title title_type_primary">каталог продукции</div>
    <div class="middle-navigation__inner">
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">декоративные решётки</span>
            <img class="middle-navigation__image" src="images/bars.jpg" alt="декоративные решётки" width="370"
                 height="350">
        </a>
      </div>
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">мебельные щиты</span>
          <img class="middle-navigation__image" src="images/shields.jpg" alt="мебельные щиты" width="370" height="350">
        </a>
      </div>
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">подоконники</span>
          <img class="middle-navigation__image" src="images/windowsill.jpg" alt="подоконники" width="370" height="350">
        </a>
      </div>
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">слэбы</span>
          <span class="middle-navigation__image-wrapper">
          <img class="middle-navigation__image" src="images/slabs.jpg" alt="слэбы" width="370" height="350">
          </span>
        </a>
      </div>
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">столешницы</span>
          <img class="middle-navigation__image" src="images/tabletop.jpg" alt="столешницы" width="370" height="350">
        </a>
      </div>
      <div class="middle-navigation__item">
        <a class="a-clear" href="catalog.html">
          <span class="middle-navigation__title">элементы для лестницы</span>
          <img class="middle-navigation__image" src="images/stairs-elements.jpg" alt="элементы для лестницы" width="370" height="350">
        </a>
      </div>
    </div>
  </div>
</div>
