{%- from "system/component.njk" import component -%}

<div class="order">
  <div class="container">
    <div class="order__main-title">оформление заказа</div>
    <form>
      <div class='order__card-container'>
        {{ component('order-card', {
          items: [
            {
              image: 'images/last-order1.jpg',
              imageMobile: 'images/last-order-mob-1.jpg',
              title: 'Мебельный щит из дуба',
              vendorCode: 'а-20',
              amount: 3,
              price: 35900,
              width: 200,
              thickness: 40,
              length: 1200
            }
          ]
        }) }}
      </div>
      <div class="order__inputs">
        <div class='container container_size_small'>
          <div class="order__client">
            <div class="order__title">Покупатель</div>
            <div class="order__client-inputs">
              <div>
                <input class="input order__input order__input_small" type="email" placeholder="E-Mail">
                <span class="input__error">Ошибка</span>
              </div>
              <div>
                <input class="input order__input order__input_small" type="tel" placeholder="Телефон*" required>
                <span class="input__error">Ошибка</span>
              </div>
            </div>
          </div>
          <div class="order__delivery">
            <div class="order__title">Способ доставки</div>
            <div class="order__radio-buttons">
              <div class='order__radio-wrapper'>
                <input class='order__radio-input' type='radio' id="pickup" name="delivery"
                       value="Самовывоз">
                <label for="pickup" class='order__radio-label'>
                  Самовывоз
                </label>
              </div>
              <div class='order__radio-wrapper'>
                <input class='order__radio-input' type='radio' id="delivery" name="delivery"
                       value="Доставка">
                <label for="delivery" class='order__radio-label'>
                  Доставка курьером по Москве и МО от - 500р.
                </label>
              </div>
            </div>
          </div>
          <div class="order__title">Адрес доставки</div>
          <div class="order__input-adress">
            <div>
              <input class="input order__input" type="text" placeholder="Имя*" required>
              <span class="input__error">Ошибка</span>
            </div>
            <div>
              <input list="region" class="input order__input" type="text" placeholder="Регион*" required>
              <datalist id="region">
                <option>Москва</option>
                <option>Химки</option>
              </datalist>
              <span class="input__error">Ошибка</span>
            </div>
            <div>
              <input class="input order__input" type="text" placeholder="Город*" required>
              <span class="input__error">Ошибка</span>
            </div>
            <input class="input order__input" type="number" placeholder="Индекс">
            <div>
              <input list="adress" class="input order__input" type="text" placeholder="Адрес*" required>
              <datalist id="adress">
                <option>улица Пушкинская д.2</option>
                <option>улица Московская д.4</option>
              </datalist>
              <span class="input__error">Ошибка</span>
            </div>
            <textarea class="input order__input" rows="11" cols="10" placeholder='Комментарий'
                      class='order__textarea'></textarea>
            <div class="order__payment">
              <div class="order__payment-options">
                <div>
                  <div class="order__title order__title_second">Способ оплаты</div>
                </div>
                <div class="order__payment-option">
                  <input class='order__radio-input' type='radio' id="courier" name="payment"
                         value="Самовывоз">
                  <label for="courier" class='order__radio-label'>
                    Оплата картой курьеру
                  </label>
                </div>
                <div class="order__payment-option">
                  <input class='order__radio-input' type='radio' id="cash" name="payment"
                         value="Самовывоз">
                  <label for="cash" class='order__radio-label'>
                    Оплата наличными
                  </label>
                </div>
                <div class="order__payment-option">
                  <input class='order__radio-input' type='radio' id="cashless" name="payment"
                         value="Самовывоз">
                  <label for="cashless" class='order__radio-label'>
                    Безналичный расчет
                  </label>
                </div>
              </div>
              <div class="order__send">
                <button class="btn btn_type_second" data-fancybox
                        data-src="#pop-up-order">Оформить заказ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
