{%- from "system/component.njk" import component -%}

<div class="pickup">
  <div class="container container_size_big">
    <div class="pickup__inner">
      <div class="pickup__navigation">
        {{ component('delivery-navigation') }}
      </div>
      <div class="pickup__details">
        <div class="pickup__title">Способ оплаты</div>
        <div class="pickup__text-wrapper">
          <div class="pickup__text">Наличными при получении заказа</div>
        </div>
      </div>
    </div>
  </div>
</div>
