{%- from "system/component.njk" import component -%}

<div class="pickup">
  <div class="container container_size_big">
    <div class="pickup__inner">
      <div class="pickup__navigation">
        {{ component('delivery-navigation') }}
      </div>
      <div class="pickup__details">
        <div class="pickup__title">Самовывоз</div>
        <div class="pickup__text-wrapper">
          <div class="pickup__text">Самовывоз большинства товаров возможен в день заказа с 09:00 до 18:00 по адресу: г. Москва,
            пос. Мосрентген, Строительная ярмарка «Тополек», пандус B-56.</div>

          <div class="pickup__text">В период самоизоляции при себе иметь Маску и Перчатки!</div>
        </div>
      </div>
    </div>
  </div>
</div>
