{%- from "system/block.njk" import block -%}
{%- from "system/component.njk" import component -%}

<div class='product'>
  <div class='container container_type_product'>
    <div class='product__description'>
      <div class='product__column product__column_type_swiper'>
        {{ component ('product-swiper') }}
      </div>
      <div class='product__column'>
        {{ component ('product-description') }}
      </div>
    </div>
  </div>
  <div>
    <div class='related-desktop'>
      {{ block('related') }}
    </div>
    <div class='related-mobile'>
      {{ component('related-swiper') }}
    </div>
    <div class='extra-desktop'>
      {{ component('extra') }}
    </div>
    <div class='extra-mobile'>
      {{ component('extra-swiper') }}
    </div>
    {{ block('benefits') }}
    {{ block('questions') }}
  </div>
</div>
