{%- from "system/component.njk" import component -%}

<div class='profile-settings'>
  <div class='container container_size_big'>
    <div class='profile-settings__inner'>
      <div class="profile-settings__submenu">
        {{ component('submenu') }}
      </div>
      <div class="profile-settings__data-change">
        <div class="profile-settings__title">Смена личных данных</div>
        <div class="profile-settings__personal-data">
          <form>
            <table class="profile-settings__table">
              <tr>
                <th class='profile-settings__table-head'>Имя</th>
                <td class='profile-settings__table-data'>Варвара</td>
              </tr>
              <tr>
                <th class='profile-settings__table-head'>Фамилия</th>
                <td class='profile-settings__table-data'>Попова</td>
              </tr>
              <tr>
                <th class='profile-settings__table-head'>Телефон</th>
                <td class='profile-settings__table-data'>+7 (999) 999 99 99</td>
              </tr>
              <tr>
                <th class='profile-settings__table-head'>Email</th>
                <td class='profile-settings__table-data'>Ubisoft@mail.ru</td>
              </tr>
              <tr>
                <th class='profile-settings__table-head'>Пароль</th>
                <td class='profile-settings__table-data'>*************************</td>
              </tr>
            </table>
          </form>
          <div class="profile-settings__button">
            <a class="a-clear btn btn_type_third" href='profile-settings-change.html'>Редактировать данные</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
