{%- from "system/component.njk" import component -%}

<div class='profile-settings-change'>
  <div class='container container_size_big'>
    <div class='profile-settings-change__inner'>
      <div class="profile-settings-change__submenu">
        {{ component('submenu') }}
      </div>
      <form>
        <div class="profile-settings-change__data-change">
          <div class="profile-settings-change__title">Смена личных данных</div>
          <div class='profile-settings-change__text'>Имя</div>
          <input class="input profile-settings-change__input" type="text" placeholder="Попова"
                 required>
          <div class='profile-settings-change__text'>Фамилия</div>
          <input class="input profile-settings-change__input" type="text" placeholder="Варвара"
                 required>
          <div class='profile-settings-change__text'>Телефон</div>
          <input class="input profile-settings-change__input" type="tel"
                 placeholder="+7 (999) 999 99 99" required>
          <span class="input__error">Это поле должно содержать телефон в формате +71234567890</span>
          <div class='profile-settings-change__text'>Email</div>
          <input class="input profile-settings-change__input" type="email"
                 placeholder="Ubisoft@mail.ru"
                 required>
          <span class="input__error">Это поле должно содержать E-Mail в формате example@site.com</span>
          <div class='profile-settings-change__text'>Старый пароль</div>
          <input class="input profile-settings-change__input" type="password"
                 placeholder="Старый пароль" required>
          <div class='profile-settings-change__text'>Новый пароль</div>
          <input class="input profile-settings-change__input" type="password"
                 placeholder="Новый пароль" required>
          <div class="profile-settings-change__button">
            <button class="btn btn_type_third">Сохранить данные</button>
          </div>
        </div>
      </form>
      <div class="profile-settings-change__personal-data">
      </div>
    </div>
  </div>
</div>
