{%- from "system/component.njk" import component -%}

<div class="questions">
  <div class="container container_size_big">
    <div class="title title_type_third">вопросы и ответы</div>
    <div class="questions__inner">
      {{ component('question-card', {
        items: [
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          },
          {
            title: 'Почему мебельный щит из дуба такой дорогой?',
            text: 'Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет, тогда,
            как лестница из березы или сосны меньше почти в два раза.
            Вот и получается что "дорогой" понятие относительное.'
          }
        ]
      }) }}
      <div class="questions__image-wrapper">
        <img class='questions__image' src='images/questions-carpenter.jpg' width='455' height='675' alt='Плотник'>
      </div>
    </div>
  </div>
</div>
