<div class="recommend">
  <div class='container container_size_big'>
    <div class='recommend__text-wrapper'>
      <div class='title title_type_primary'>ИНТЕРНЕТ-МАГАЗИН СЛЭБОВ В МОСКВЕ</div>
      <span class='recommend__text'>Рекомендуемое</span>
    </div>
    <div class="recommend-swiper-wrapper">
      <div class="swiper recommend-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/stol-dub-loft.jpg' alt='стол из дуба' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>Стол из дуба в стиле лофт</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>10 000 ₽</span>
                      <span class='recommend-swiper__price recommend-swiper__price_old'>28 000 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/sleb-t-2.jpg' alt='подстолье из ясеня' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>Подстолье из ясеня</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>2 800 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/stol-d-3.jpg' alt='подстолье из ясеня' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>Подстолье из ясеня</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>4 800 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/stol-dub-loft.jpg' alt='стол из дуба' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>стол из дуба в стиле лофт</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>10 000 ₽</span>
                      <span class='recommend-swiper__price recommend-swiper__price_old'>28 000 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/sleb-t-2.jpg' alt='подстолье из ясеня' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>подстолье из ясеня</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>2 800 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="a-clear" href="product.html">
              <div class="recommend-swiper__container">
                <div class="recommend-swiper__image-wrapper">
                  <img class='recommend-swiper__image' src='images/stol-d-3.jpg' alt='подстолье из ясеня' width='342'
                       height='211'>
                </div>
                <div class='recommend-swiper__description'>
                  <div class='recommend-swiper__title'>подстолье из ясеня</div>
                  <div class="recommend-swiper__prices">
                    <div class="recommend-swiper__first-column">
                      <span class='recommend-swiper__price'>4 800 ₽</span>
                    </div>
                    <div class="recommend-swiper__second-column">
                      <button class="btn">
                        <svg class="recommend-swiper__icon" width="32" height="36">
                          <use xlink:href="sprite.svg#shopping-basket"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-recommend"></div>
      </div>
    </div>
  </div>
</div>
