{%- from "system/component.njk" import component -%}

<div class='related'>
  <div class='container container_size_big'>
    <div class='related__text-wrapper'>
      <div class='related__title-first'>Похожие товары</div>
    </div>
    <div class='related__inner'>
      <div class="related__item related__item_type_first">
        <div class="related__image-wrapper">
          <img class='related__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='336'
               height='271'>
        </div>
        <div class='related__description related__description_type_first'>
          <div class='related__text-wrapper'>
            <div class='related__title-second'>Мебельный щит из дуба
            </div>
            <div class='related__text'>Древесина дуба очень прочная. Дубовая лестница прослужит более 50 лет,
              тогда, как лестница из березы или сосны меньше почти в два раза. Вот и получается что "дорогой"
              понятие относительное.
            </div>
          </div>
          <div class='related__bottom-row'>
            <div class="related__prices">
              <span class='related__price'>от  1 160 ₽</span>
              <span class='related__old-price'>от  9 000 ₽</span>
            </div>
            {{ component('arrow-next', {
              items: [
                {
                  link: 'product.html',
                  background: 'arrow-next__background arrow-next__background_position_relative',
                  inner: 'arrow-next__inner arrow-next__inner_position_relative'
                }
              ]
            }) }}
          </div>
        </div>
      </div>
      <div class="related__item related__item_type_second">
        <div class="related__image-wrapper">
          <img class='related__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='336'
               height='271'>
        </div>
        <div class='related__description related__description_type_second'>
          <div class='related__title-third'>Мебельный щит из дуба
          </div>
          <div class='related__bottom-row related__bottom-row_type_first'>
            <div class="related__prices related__prices_type_first">
              <span class='related__price related__price_type_first'>от  1 160 ₽</span>
              <span class='related__old-price related__old-price_type_first'>от  9 000 ₽</span>
            </div>
            {{ component('arrow-next', {
              items: [
                {
                  link: 'product.html',
                  background: 'arrow-next__background arrow-next__background_position_relative',
                  inner: 'arrow-next__inner arrow-next__inner_position_relative'
                }
              ]
            }) }}
          </div>
        </div>
      </div>
      <div class="related__item related__item_type_third">
        <div class="related__image-wrapper">
          <a class="a-clear" href="product.html">
            <img class='related__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='336'
                 height='271'>
          </a>
        </div>
        <div class='related__description related__description_type_second'>
          <div class='related__title-third'>Мебельный щит из дуба
          </div>
          <div class='related__bottom-row related__bottom-row_type_first'>
            <div class="related__prices related__prices_type_first">
              <span class='related__price related__price_type_first'>от  1 160 ₽</span>
              <span class='related__old-price related__old-price_type_first'>от  9 000 ₽</span>
            </div>
            {{ component('arrow-next', {
              items: [
                {
                  link: 'product.html',
                  background: 'arrow-next__background arrow-next__background_position_relative',
                  inner: 'arrow-next__inner arrow-next__inner_position_relative'
                }
              ]
            }) }}
          </div>
        </div>
      </div>
      <div class="related__item related__item_type_fourth">
        <div class="related__image-wrapper related__image-wrapper_type_big">
          <img class='related__image' src='images/meb-dub-a.jpg' alt='мебельный щит из дуба' width='572'
               height='373'>
        </div>
        <div class='related__description related__description_type_third'>
          <div class='related__text-wrapper'>
            <div class='related__title-fourth'>Мебельный щит из дуба
            </div>
            <div class='related__text'>Древесина дуба очень прочная.
              Дубовая лестница прослужит более 50 лет, тогда, как лестница.
            </div>
          </div>
          <div class='related__bottom-row '>
            <div class='related__prices'>
              <span class='related__price related__price_type_first'>от  1 160 ₽</span>
              <span class='related__old-price related__old-price_type_first'>от  9 000 ₽</span>
            </div>
            {{ component('arrow-next', {
              items: [
                {
                  link: 'product.html',
                  background: 'arrow-next__background arrow-next__background_position_relative',
                  inner: 'arrow-next__inner arrow-next__inner_position_relative'
                }
              ]
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
