{%- from "system/component.njk" import component -%}

<div class="services">
  <div class="container container_size_big">
    <div class="title_type_third">Услуги</div>
    <div class="services__text">
      Наша компания предоставляет ряд услуг в
      дополнение к продаже материалов.
      {{ component ('service', {
        items: [
          {
            title: 'ДЕКОРАТИВНЫЕ РЕШЕТКИ',
            options: [
              {
                heading: 'РАСПИЛ ПО ИНДИВИДУАЛЬНЫМ РАЗМЕРАМ',
                text: 'Стоимость услуги от 100р за деталь ,
              высчитывается индивидуально исходя из сложности и объема работ.'
              },
              {
                heading: 'ОБРАМЛЕНИЕ (ВСТАВИТЬ РЕШЕТКУ В РАМКУ)',
                text: 'Стоимость услуги 1100р./шт.'
              },
              {
                heading: 'ЭКРАН НА РАДИАТОР ОТОПЛЕНИЯ',
                text: 'Стоимость услуги 4500-5000 р./шт.'
              }
            ]
          },
          {
            title: 'МЕБЕЛЬНЫЕ ЩИТЫ',
            options: [
            {
              heading: 'РАСПИЛ ПО ИНДИВИДУАЛЬНЫМ РАЗМЕРАМ',
              text: 'Стоимость услуги от 100р за деталь ,
            высчитывается индивидуально исходя из сложности и объема работ.'
            },
            {
              heading: 'ЗАКРУГЛЕНИЯ И ФАСКИ',
              text: 'Стоимость фаски 30 р./м.п.',
              text: 'Стоимость закругления 50-700 р./шт. ,
            высчитывается исходя из размера радиуса.'
            },
            {
              heading: 'ШЛИФОВКА ПОД ПОКРАСКУ',
              text: 'Стоимость услуги 800-1000 р./м2 , исходя из общего объема работы.'
            }
          ]
          },
          {
            title: 'ПОДОКОННИКИ',
            options: [
            {
              heading: 'РАСПИЛ ПО ИНДИВИДУАЛЬНЫМ РАЗМЕРАМ',
              text: 'Стоимость услуги от 100р за деталь ,
            высчитывается индивидуально исходя из сложности и объема работ.'
            },
            {
              heading: 'ОБРАМЛЕНИЕ (ВСТАВИТЬ РЕШЕТКУ В РАМКУ)',
              text: 'Стоимость услуги 1100р./шт.'
            },
            {
              heading: 'ЗАКРУГЛЕНИЯ И ФАСКИ',
              text: 'Стоимость фаски 30 р./м.п.',
              text: 'Стоимость закругления 50-700 р./шт. ,
            высчитывается исходя из размера радиуса.'
            }
          ]
          },
          {
            title: 'ПАЗЫ ИЛИ ОТВЕРСТИЯ НАД РАДИАТОРОМ ОТОПЛЕНИЯ',
            options: [
            {
              heading: 'ПАЗ (ЧЕТВЕРТЬ) ПОД ОКНО',
              text: 'Стоимость услуги 1000-5000 р./шт. ,
            высчитывается индивидуально, исходя из сложности и объема работ.'
            },
            {
              heading: 'ШЛИФОВКА ПОД ПОКРАСКУ',
              text: 'Стоимость услуги 200-300 р./м.п. ,
            высчитывается индивидуально, исходя из сложности и объема работ.',
              text: 'Стоимость услуги 800-1000 р./м2 , исходя из общего объема работы.'
            },
            {
              heading: 'ПОКРЫТИЕ МАСЛОМ С ТВЕРДЫМ ВОСКОМ (SAICOS)',
              text: 'Стоимость услуги 2500 р./м2'
            }
          ]
          },
          {
            title: 'СЛЭБЫ',
            options: [
            {
              heading: 'ФРЕЗЕРОВКА (КАЛИБРОВКА) И ШЛИФОВКА',
              text: 'Стоимость услуги 3000-9000 р. , высчитывается индивидуально для каждого слэба.'
            }
          ]
          },
          {
            title: 'СТОЛЕШНИЦЫ',
            options: [
            {
              heading: 'РАСПИЛ ПО ИНДИВИДУАЛЬНЫМ РАЗМЕРАМ',
              text: 'Стоимость услуги от 100р за деталь ,
            высчитывается индивидуально исходя из сложности и объема работ.'
            },
            {
              heading: 'ЗАКРУГЛЕНИЯ И ФАСКИ',
              text: 'Стоимость фаски 30 р./м.п.',
              text: 'Стоимость закругления 50-700 р./шт. ,
            высчитывается исходя из размера радиуса.'
            },
            {
              heading: 'ВЫРЕЗЫ ПОД РАКОВИНУ , ПЛИТУ И Т.Д.',
              text: 'Стоимость услуги 1500 р./шт.'
            },
            {
              heading: 'ШЛИФОВКА ПОД ПОКРАСКУ',
              text: 'Стоимость услуги 800-1000 р./м2 , исходя из общего объема работы.'
            },
            {
              heading: 'ПОКРЫТИЕ МАСЛОМ С ТВЕРДЫМ ВОСКОМ (SAICOS)',
              text: 'Стоимость услуги 2500 р./м2'
            }
          ]
          },
          {
            title: 'ЭЛЕМЕНТЫ ДЛЯ ЛЕСТНИЦЫ',
            options: [
            {
              heading: 'РАСПИЛ ПО ИНДИВИДУАЛЬНЫМ РАЗМЕРАМ',
              text: 'Стоимость услуги от 100р за деталь (стоимость распила забежных ступеней 500р./шт.) , высчитывается индивидуально, исходя из сложности и объема работ.'
            },
            {
              heading: 'ЗАКРУГЛЕНИЯ И ФАСКИ',
              text: 'Стоимость фаски 30 р./м.п.',
              text: 'Стоимость закругления 50-700 р./шт. ,
            высчитывается исходя из размера радиуса.'
            },
            {
              heading: 'ШЛИФОВКА ПОД ПОКРАСКУ',
              text: 'Стоимость услуги 800-1000 р./м2 , исходя из общего объема работы.'
            }
          ]
          }
        ]
      }) }}
    </div>
  </div>
</div>
