<div class="special-offer">
  <div class="container container_size_big">
    <div class="title title_type_third">Акции</div>
    <div class="special-offer__inner">
      <a class="special-offer__item" href="free-delivery.html">
        <div class="special-offer__image-wrapper">
          <img class="special-offer__image" src="images/offer-delivery.png" width="264" height="264" alt="доставка">
        </div>
        <div class="special-offer__title">БЕСПЛАТНАЯ ДОСТАВКА</div>
        <div class="special-offer__learn-more">Подробнее</div>
        <div class="special-offer__arrow"></div>
      </a>
    </div>
  </div>
</div>
