.account {
  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
  }

  &__text {
    font-size: 18px;
  }

  &__no-order {
    display: grid;
    grid-gap: 19px;
    grid-template-columns: 1fr;
  }

  &__all-cards {
    display: grid;
    grid-gap: 32px;
    margin-top: 31px;
    margin-bottom: 43px;
  }

  @media screen and (max-width: 1000px) {
    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      grid-gap: 38px;
      grid-template-columns: 1fr;
      margin-top: 26px;
    }

    &__text {
      text-align: center;
    }

    &__all-cards {
      grid-gap: 94px;
      margin-bottom: 137px;
    }

    &__title,
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1001px) and (max-width: 1400px) {
    &__all-cards {
      grid-gap: 94px;
      margin-bottom: 137px;
    }

    &__title,
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
