.adress {
  margin-bottom: 76px;

  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      grid-gap: 38px;
      grid-template-columns: 1fr;
      margin-top: 26px;
    }

    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
