.benefits {
  &__top {
    position: relative;
    height: 409px;
    background-color: #fff;
  }

  &__bottom {
    position: relative;
    height: 409px;
    background-color: #889eaf33;
  }

  &__feedback {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__feedback-column {
    padding: 30px 50px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;

    .benefits__link::before {
      margin-right: 16px;
      content: '✓';
    }
  }

  &__image-wrapper {
    max-width: 505px;
    overflow: hidden;
    border-radius: 0 8px 8px 0;
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr;
  }

  &__button-wrapper {
    margin-top: 33px;
  }

  &__inner {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 2;
    display: grid;
    grid-row-gap: 44px;
    grid-column-gap: 85px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 931px;
    padding: 45px 74px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__bottom-white {
    height: 277px;
    background-color: #fff;
  }

  &__bottom-text-wrapper {
    display: grid;
    grid-gap: 8px;
    margin-top: 16px;
  }

  &__bottom-title {
    font-size: 20px;

    &:first-child {
      white-space: nowrap;
    }
  }

  &__bottom-text {
    font-size: 15px;
  }

  &__icon {
    color: white;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column {
    display: flex;
    grid-gap: 16px;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 48px;
    margin-bottom: 48px;

    &__bottom-text-wrapper {
      grid-gap: 0;
    }

    &__bottom-white {
      display: none;
    }

    &__bottom-title {
      font-size: 12px;
    }

    &__bottom-text {
      color: #9f9f9f;
      font-size: 12px;
    }

    &__icon {
      width: 85px;
      height: 85px;
    }

    &__feedback-column {
      padding: 20px;
    }

    &__inner {
      position: relative;
      top: 0;
      left: 0;
      grid-template-columns: 1fr;
      padding: 39px;
    }

    &__feedback {
      position: relative;
      top: 0;
      grid-template-columns: 1fr;
      margin-bottom: 24px;
    }

    &__top {
      height: unset;
    }

    &__bottom {
      height: unset;
      background-color: #fff;
    }

    &__image-wrapper {
      display: none;
    }

    &__title {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    &__inner {
      top: 40%;
      left: 1%;
      grid-gap: 50px;
    }

    &__feedback {
      top: 10%;
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1700px) {
    &__inner {
      top: 40%;
      left: 30%;
      grid-gap: 50px;
    }
  }
}
