.catalog {
  &__options {
    display: grid;
    grid-gap: 34px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
    margin-bottom: 82px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  &__option {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);

    &:hover {
      .catalog__image {
        transform: scale(1.5);
        transition: transform 0.2s;
      }
    }
  }

  &__title {
    max-width: 228px;
    font-weight: 600;
    font-size: 20px;
  }

  &__title-wrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 28px 17px;
    background-color: #fff;
  }

  &__title-main-wrapper {
    margin-top: 24px;
  }

  &__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 48px;

    &__image-wrapper {
      width: unset;
    }

    &__options {
      grid-gap: 24px;
      grid-template-columns: 1fr;
      margin-top: 16px;
      margin-bottom: 24px;
    }

    &__title {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    margin-bottom: 53px;

    &__options {
      display: grid;
      grid-gap: 34px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__title {
      top: 18px;
      left: 15px;
      font-size: 16px;
    }
  }

  @media screen and (min-width: 993px) and (max-width: 1345px) {
    &__options {
      display: grid;
      grid-gap: 34px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__title {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 1346px) and (max-width: 1500px) {
    &__title {
      font-size: 16px;
    }

    &__title-wrapper {
      padding: 28px 6px;
    }
  }
}
