.contacts {
  margin-top: 39px;
  margin-bottom: 138px;

  &__inner {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr;
  }

  &__left-side {
    display: grid;
    grid-gap: 22px;
    font-size: 25px;
  }

  &__phone {
    display: grid;
    grid-gap: 16px;
    font-weight: 600;
    font-size: 25px;
  }

  &__time {
    display: grid;
    grid-gap: 10px;
  }

  &__text {
    &_size {
      &_lg {
        font-weight: 600;
        font-size: 24px;
      }

      &_md {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }

  &__icon {
    color: #506d84;

    &:hover {
      color: #889eaf;
    }
  }

  &__icons {
    display: flex;
    grid-gap: 16px;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    margin-bottom: 39px;

    &__inner {
      grid-template-columns: 1fr;
    }

    &__text {
      font-size: 14px;
    }
  }
}
