.delivery-payment {
  &__inner {
    display: grid;
    grid-gap: 65px;
    grid-template-columns: 1fr 6fr;
  }

  &__details {
    max-width: 1036px;
  }

  &__options {
    display: grid;
    grid-gap: 48px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
  }

  &__row-first {
    display: grid;
    grid-gap: 23px;
    margin-bottom: 27px;
  }

  &__arrow-next {
    display: flex;
    align-content: center;
    justify-content: end;
  }

  &__option-wrapper {
    display: grid;
    grid-gap: 9px;
    width: 341px;
    padding: 20px 10px 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(153, 153, 151, 0.3);
  }

  &__first-rows {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    margin-top: 22px;
  }

  &__second-rows {
    margin-top: 75px;
  }

  &__option {
    font-weight: 500;
    font-size: 24px;
  }

  &__row {
    display: grid;
    grid-gap: 20px;
  }

  &_mobile-hidden {
    display: none;
  }

  &_desktop-hidden {
    margin-top: 39px;
    margin-bottom: 67px;
  }

  @media screen and (max-width: 1000px) {
    &_desktop-hidden {
      display: none;
    }

    &_mobile-hidden {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 40px;
      margin-bottom: 32px;
    }
  }
}
