.delivery-rf {
  margin-top: 39px;
  margin-bottom: 67px;

  &__inner {
    display: grid;
    grid-gap: 65px;
    grid-template-columns: 1fr 6fr;
  }

  &__details {
    max-width: 1036px;
  }

  &__options {
    display: grid;
    grid-gap: 48px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;

    &_first {
      text-transform: uppercase;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
  }

  &__row-first {
    display: grid;
    grid-gap: 23px;
    margin-bottom: 27px;
  }

  &__option-wrapper {
    width: 341px;
    height: 105px;

    &_pickup {
      background-color: #b19582;
    }

    &_city {
      background-color: #ac906b;
    }

    &_country {
      background-color: #a46d5d;
    }

    &_payment {
      background-color: #ca9e81;
    }
  }

  &__row {
    display: grid;
    grid-gap: 20px;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__navigation {
      display: none;
    }

    &__text {
      font-size: 16px;
    }
  }
}
