.feedback {
  padding: 72px 0;
  background-color: #506d84;

  &__container {
    position: relative;
    max-width: 1754px;
    margin: 0 auto;
    padding: 0;
  }

  &__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__description {
    max-width: 1162px;
    margin: 0 auto;
  }

  &__text {
    padding: 48px 170px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-top: 3px solid #fff;
  }

  &__cards {
    margin-bottom: 46px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    &__text {
      padding: 0 0 48px 0;
      border: none;
    }

    &__title {
      font-size: 24px;
    }
  }
}
