.footer {
  &__top {
    position: relative;
    padding-bottom: 57px;
    overflow: hidden;
  }

  &__bottom {
    padding: 40px 0;
    background-color: #506d84;
  }

  &__bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    max-width: 820px;
  }

  &__input {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 13px;
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    opacity: 0.33;
  }

  &__agreement {
    position: relative;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__label {
    color: #fff;
    font-size: 14px;
  }

  &__checkbox + .footer__label {
    user-select: none;
  }

  &__checkbox + .footer__label::before {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    vertical-align: baseline;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    content: '\00A0';
  }

  &__checkbox:checked + .footer__label::before {
    content: '\2713';
  }

  &__input::-webkit-input-placeholder {
    color: #fff;
  }

  &__input::-moz-placeholder {
    color: #fff;
  }

  &__arrow-right {
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: transparent;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    cursor: pointer;
  }

  &__contact-us {
    margin-bottom: 57px;
  }

  &__icon {
    color: #fff;

    &:hover {
      color: #889eaf;
      transition: 0.3s;
    }
  }

  &__logo-icon {
    width: 100%;
    max-width: 386px;
    height: auto;
    opacity: 0.33;
  }

  &__column {
    position: relative;
  }

  &__navigation {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  &__inner {
    display: flex;
    grid-gap: 30px;
    justify-content: space-between;
    padding-top: 81px;
    padding-bottom: 57px;
  }

  &__contacts {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__social-net {
    position: relative;
    display: grid;
    grid-gap: 8px;
  }

  &__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #889eaf;
      transition: 0.3s;
    }

    &_size {
      &_sm {
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  &__icons {
    display: flex;
    grid-gap: 37px;
  }

  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }

  &__list {
    display: grid;
    grid-gap: 24px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #889eaf;
      transition: 0.3s;
    }

    &_type {
      &_first {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 30px;

        &:hover {
          color: #fff;
          cursor: unset;
          transition: 0.3s;
        }
      }
    }
  }

  &__adress {
    position: relative;
  }

  &__contact-title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
  }

  &__title-wrapper {
    position: relative;
    margin-top: 46px;
    margin-bottom: 16px;
  }

  &__background {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: bottom;
  }

  &__logo {
    position: relative;
  }

  &__text {
    color: #fff;
    font-size: 20px;
  }

  &__label {
    color: #fff;
    font-size: 14px;
  }

  &__copyright {
    color: #cdcbcb;
  }

  &__upline {
    &:hover {
      color: #16b2da;
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    &__inner {
      flex-direction: column;
    }

    &__contacts {
      grid-template-columns: 1fr;
    }

    &__info {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__input {
      max-width: 360px;
      font-size: 16px;
    }

    &__arrow-right {
      padding: 5px;
    }

    &__contact-title {
      font-size: 20px;
    }

    &__logo {
      width: 282px;
      height: auto;
    }

    &__contact-title {
      font-size: 24px;
    }

    &__navigation {
      grid-gap: 38px;
    }

    &__text {
      &_top {
        margin-bottom: 32px;
      }
    }

    &__bottom {
      display: none;
    }
  }

  &__nav-link {
    font-size: 20px;

    &_size {
      &_small {
        font-size: 16px;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__contacts {
      grid-template-columns: 1fr;
    }

    &__info {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__input {
      font-size: 16px;
    }

    &__arrow-right {
      padding: 5px;
    }

    &__contact-title {
      font-size: 20px;
    }

    &__logo {
      width: 282px;
      height: auto;
    }

    &__contact-title {
      font-size: 24px;
    }

    &__nav-link {
      font-size: 24px;

      &_size {
        &_small {
          font-size: 16px;
        }
      }
    }

    &__navigation {
      grid-gap: 38px;
    }

    &__text {
      &_top {
        margin-bottom: 32px;
      }
    }

    &__bottom {
      display: none;
    }
  }
}
