.free-delivery {
  padding-top: 39px;
  padding-bottom: 292px;

  &__inner {
    display: grid;
    grid-gap: 22px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }
}
