.header {
  &__middle {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 2fr 4fr 1fr;
  }

  &__logo-icon {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__navigation {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  &__cart {
    position: relative;
  }

  &__contacts {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: #506d84;
    }
  }

  &__number {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    transform: rotate(45deg);
  }

  &__search {
    display: none;
  }

  &__number-wrapper {
    position: absolute;
    top: -27px;
    right: -11px;
    padding: 6px 11px;
    background-color: #889eaf;
    border-radius: 100px 100px 100px 6px;
    transform: rotate(-45deg);
  }

  &__account {
    display: flex;
    grid-gap: 25px;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__hamburger {
    display: none;
  }

  &__hamburger-icon {
    color: #506d84;
  }

  &__container {
    position: relative;
    max-width: 1754px;
    margin: 0 auto;
    padding: 38px 10px;
  }

  &__icon {
    &:hover,
    &:focus {
      color: #506d84;
    }
  }

  &__phone {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    &__top,
    &__navigation {
      display: none;
    }

    &__search {
      display: flex;
    }

    &__number-wrapper {
      display: none;
    }

    &__logo-icon {
      width: 133px;
      height: 14px;
    }

    &__container {
      display: block;
      margin: 0;
      padding: 12px 0;
    }

    &__account {
      justify-content: end;
    }

    &__logo {
      align-items: center;
      justify-content: center;
    }

    &__user {
      display: none;
    }

    &__icon {
      &_cart {
        width: 19px;
        height: 19px;
      }
    }

    &__middle {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      padding: 0 25px;
      border: none;
    }

    &__hamburger {
      display: flex;
    }

    &__hamburger-icon {
      color: #506d84;
    }

    &__contacts {
      display: none;
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    &__account {
      grid-gap: 50px;
      justify-content: end;
    }

    &__navigation {
      justify-content: center;
    }

    &__contacts {
      display: none;
    }

    &__phone {
      display: flex;
    }
  }

  @media screen and (min-width: 1401px) and (max-width: 1730px) {
    &__navigation {
      justify-content: center;
    }

    &__middle {
      grid-gap: 10px;
    }
  }
}
