.history-order {
  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 300px 1fr;
    margin-top: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
  }

  &__final-price {
    display: flex;
    grid-gap: 29px;
    font-weight: 500;
    font-size: 24px;
  }

  &__repeat {
    display: flex;
    grid-gap: 16px;
    align-items: center;
  }

  &__link {
    color: #889eaf;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    white-space: nowrap;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon {
    color: #889eaf;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
