.history {
  margin-bottom: 237px;

  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
  }

  &__account-card {
    display: grid;
    grid-gap: 32px;
    margin-top: 31px;
    margin-bottom: 43px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 17px;
    text-transform: uppercase;
  }

  &__no-order {
    display: grid;
    grid-gap: 34px;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
}
