.information {
  margin-bottom: 174px;

  &__inner {
    display: grid;
    grid-gap: 63px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__top-text {
    color: #656565;
    font-size: 16px;
  }

  &__text {
    color: #656565;

    &_type {
      &_info {
        max-width: 850px;
        margin-top: 24px;
        margin-bottom: 64px;
        font-size: 16px;
      }

      &_description {
        font-size: 18px;
      }
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    max-width: 541px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__learn-more {
    display: flex;
    align-content: center;
    justify-content: end;
  }

  @media screen and (max-width: 768px) {
    margin-top: 48px;
    margin-bottom: 50px;

    &__inner {
      grid-gap: 76px;
      grid-template-columns: 1fr;
      margin-top: 32px;
    }

    &__title {
      font-size: 16px;
    }

    &__text {
      &_type {
        &_info {
          display: none;
        }

        &_description {
          font-size: 16px;
        }
      }
    }

    &__learn-more {
      justify-content: start;
      margin-top: 18px;
    }
  }
}
