.middle-navigation {
  margin-bottom: 198px;

  &__title {
    position: absolute;
    top: 25px;
    left: 37px;
    max-width: 228px;
    color: #8A8686;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__inner {
    display: grid;
    grid-gap: 44px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 61px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

    &:hover {
      opacity: 0.7;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 53px;

    &__inner {
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 24px;
    }

    &__title {
      top: 10px;
      left: 10px;
      font-size: 12px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    margin-bottom: 53px;

    &__title {
      top: 18px;
      left: 15px;
      font-size: 16px;
    }
  }
}
