.order {
  margin-top: 30px;

  &__inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 32px;
  }

  &__input {
    margin: 0 auto;
    padding: 10px 0 10px 23px;
    font-size: 20px;

    &_small {
      max-width: 581px;
    }
  }

  &__card-container {
    display: grid;
    grid-gap: 19px;
    margin: 31px 0;
  }

  &__main-title {
    font-size: 36px;
    text-transform: uppercase;
  }

  &__input-adress {
    display: grid;
    grid-gap: 11px;
    margin-top: 21px;
    margin-bottom: 23px;
  }

  &__textarea {
    font-size: 20px;
    border: none;
    resize: none;
  }

  &__radio-input {
    margin-right: 12px;
  }

  &__radio-wrapper {
    display: flex;
    grid-gap: 12px;
    align-items: center;
  }

  &__input::-webkit-input-placeholder {
    color: #889eaf;
  }

  &__input::-moz-placeholder {
    color: #889eaf;
  }

  textarea::-webkit-input-placeholder {
    color: #889eaf;
    font-size: 20px;
    font-family: inherit;
  }

  textarea::placeholder {
    color: #889eaf;
    font-size: 20px;
    font-family: inherit;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;

    &_second {
      display: inline-block;
      align-items: center;
    }
  }

  &__client {
    display: grid;
  }

  &__radio-buttons {
    display: flex;
    grid-gap: 76px;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 77px;
  }

  &__client-inputs {
    display: grid;
    grid-gap: 11px;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 58px;
  }

  &__payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__payment-options {
    display: grid;
    grid-gap: 27px;
    grid-template-columns: 1fr;
    margin-bottom: 114px;
  }

  &__payment-option {
    display: flex;
    grid-gap: 12px;
    align-items: center;
  }

  &__send {
    margin-top: 98px;
  }

  @media screen and (max-width: 1000px) {
    &__title {
      font-size: 12px;

      &_second {
        margin-left: 0;
        text-align: center;
      }
    }

    &__payment {
      text-align: center;
    }

    &__payment {
      grid-template-columns: 1fr;
    }

    &__payment-options {
      margin: 0 auto;
    }

    &__payment-option {
      margin-left: 0;
      font-size: 14px;
    }

    &__send {
      margin: 22px auto 0 auto;
    }

    &__radio-buttons {
      display: grid;
      grid-gap: 14px;
      margin-top: 20px;
      margin-bottom: 33px;
    }

    &__client-inputs {
      margin-bottom: 23px;
    }

    &__main-title {
      font-weight: 500;
      font-size: 12px;
    }
  }
}
