.pickup {
  margin-top: 39px;
  margin-bottom: 139px;

  &__inner {
    display: grid;
    grid-gap: 65px;
    grid-template-columns: 1fr 6fr;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 950px;
    font-weight: 500;
    font-size: 18px;
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 15px;
    margin-top: 23px;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__navigation {
      display: none;
    }

    &__text {
      font-size: 16px;
    }
  }
}
