.product {
  margin-top: 20px;

  &__description {
    display: grid;
    grid-gap: 44px;
    grid-template-columns: 1fr 2fr;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 800px) {
    margin-top: 24px;

    &__description {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1200px) {
    margin-top: 24px;

    &__description {
      grid-template-columns: minmax(0, 1fr);
    }

    &__column {
      &_type {
        &_swiper {
          display: grid;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
