.profile-settings {
  margin-bottom: 79px;

  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
  }

  &__personal-data {
    align-items: center;
    justify-content: left;
    margin-top: 25px;
  }

  &__table-data {
    padding-left: 49px;
    color: #889eaf;
    font-weight: 500;
    font-size: 16px;
  }

  &__table-head {
    text-align: inherit;
  }

  &__password {
    margin-top: 36px;
  }

  &__table {
    width: 25%;
    border-collapse: separate;
    border-spacing: 0 33px;
  }

  &__link {
    &_underline {
      color: #8a8686;
      font-weight: 500;
      font-size: 17px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__change {
    margin-top: 11px;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__password-title {
    font-weight: 500;
    font-size: 17px;
  }

  @media screen and (max-width: 1000px) {
    &__inputs {
      display: grid;
      justify-content: center;
    }

    &__password-title {
      text-align: center;
    }

    &__title {
      text-align: center;
    }

    &__button {
      justify-content: center;
    }

    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      grid-gap: 38px;
      grid-template-columns: 1fr;
      margin-top: 26px;
    }

    &__send {
      justify-content: left;
    }

    &__container {
      flex: 1;
    }

    &__input {
      max-width: 280px;
    }

    &__personal-data {
      display: flex;
      flex-direction: column;
    }

    &__table {
      border-spacing: 49px 33px;
    }

    &__table-data {
      padding: 0;
    }
  }
}
