.profile-settings-change {
  margin-bottom: 79px;

  &__inner {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
  }

  &__input {
    max-width: 492px;
    padding: 10px 0 10px 24px;
    font-size: 18px;
    text-align: inherit;
  }

  &__text {
    font-weight: 500;
    font-size: 22px;
  }

  &__password {
    margin-top: 36px;
  }

  &__personal-data {
    display: flex;
    flex-direction: column;
    grid-gap: 53px;
    align-items: center;
    justify-content: left;
    margin-top: 25px;
  }

  &__link {
    &_underline {
      color: #8a8686;
      font-weight: 500;
      font-size: 17px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-bottom: 23px;

    &_password {
      margin-top: 34px;
    }
  }

  &__input::-webkit-input-placeholder {
    color: #61827f;
  }

  &__input::-moz-placeholder {
    color: #61827f;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__change {
    margin-top: 11px;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__password-title {
    font-weight: 500;
    font-size: 17px;
  }

  &__data-change {
    display: grid;
    grid-gap: 24px;
  }

  @media screen and (max-width: 1000px) {
    &__inputs {
      display: grid;
      justify-content: center;
    }

    &__inputs {
      display: grid;
      justify-content: center;
    }

    &__password-title {
      text-align: center;
    }

    &__title {
      text-align: center;
    }

    &__data-change {
      justify-content: center;
    }

    &__button {
      justify-content: center;
    }

    &__submenu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      grid-gap: 38px;
      grid-template-columns: 1fr;
      margin-top: 26px;
    }

    &__send {
      justify-content: left;
    }

    &__container {
      flex: 1;
    }

    &__input {
      max-width: 280px;
    }

    &__personal-data {
      display: flex;
      flex-direction: column;
    }
  }
}
