.questions {
  padding-top: 64px;
  padding-bottom: 103px;
  background-color: #889eaf33;

  &__inner {
    display: grid;
    grid-gap: 34px;
    grid-template-columns: 1fr 455px;
    margin-top: 64px;
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 16px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  @media screen and (max-width: 1000px) {
    padding-bottom: 43px;

    &__image-wrapper {
      display: none;
    }

    &__inner {
      grid-gap: 0;
      grid-template-columns: 1fr;
      margin-top: 20px;
    }
  }
}
