.recommend {
  margin-top: 64px;
  margin-bottom: 92px;

  &__title {
    font-size: 30px;
    white-space: nowrap;
  }

  &__text {
    color: #acacac;
    font-size: 25px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 21px;
    margin-bottom: 41px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 16px;
    margin-bottom: 24px;

    &__text {
      font-size: 14px;
    }

    &__text-wrapper {
      grid-gap: 10px;
      margin-bottom: 13px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

.recommend-swiper {
  &:not(.class-for-increase-of-specification) {
    padding: 10px 10px 50px 10px;
  }

  &__prices {
    display: grid;
    grid-template-columns: 1fr 32px;
  }

  &__first-column {
    display: flex;
    grid-gap: 19px;
  }

  &__second-column {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 15px;
    text-transform: uppercase;
  }

  &__image-wrapper {
    margin-bottom: 26px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;

    &:hover {
      opacity: 0.7;
    }
  }

  &__description {
    display: grid;
    grid-gap: 10px;
  }

  &__container {
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__price {
    color: #506d84;
    font-size: 25px;

    &_old {
      color: #cdcccc;
    }
  }

  @media screen and (max-width: 500px) {
    &__title {
      font-size: 11px;
      text-transform: unset;
    }

    &__first-column {
      grid-gap: 5px;
    }

    &__second-column {
      width: 11px;
      height: 13px;
    }

    &__price {
      font-size: 10px;
    }

    &__container {
      padding: 9px;
    }

    &__icon {
      width: 11px;
      height: 13px;
    }

    &__image-wrapper {
      margin-bottom: 6px;
    }

    &__description {
      grid-gap: 16px;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 768px) {
    &__title {
      font-size: 16px;
      text-transform: unset;
    }

    &__first-column {
      grid-gap: 5px;
    }

    &__second-column {
      width: 11px;
      height: 13px;
    }

    &__price {
      font-size: 16px;
    }

    &__container {
      padding: 9px;
    }

    &__icon {
      width: 16px;
    }

    &__image-wrapper {
      margin-bottom: 6px;
    }

    &__description {
      grid-gap: 16px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    &__price {
      font-size: 16px;
    }

    &__title {
      font-size: 16px;
      text-transform: unset;
    }
  }
}

.recommend-swiper-wrapper {
  padding-bottom: 30px;
}
