.related {
  margin-top: 71px;
  padding: 70px 90px;
  background-color: #506d84;

  &__inner {
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
      'first first fourth'
      'second third fourth';
    grid-template-rows: minmax(1fr, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 64px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    max-width: 336px;

    &_type {
      &_big {
        max-width: 572px;
      }
    }
  }

  &__title-first {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__title-third {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__title-fourth {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__title-second {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__text {
    color: #506d84;
    font-size: 16px;
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 24px;
  }

  &__price {
    color: #506d84;
    font-weight: 700;
    font-size: 36px;
    white-space: nowrap;

    &_type {
      &_first {
        font-size: 20px;
      }
    }
  }

  &__old-price {
    color: #cdcccc;
    font-weight: 500;
    font-size: 36px;
    white-space: nowrap;
    text-decoration: line-through;

    &_type {
      &_first {
        font-size: 20px;
      }
    }
  }

  &__description {
    &_type {
      &_first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
      }

      &_second {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 36px 24px 20px 20px;
      }

      &_third {
        padding: 25px 15px 15px 25px;
      }
    }
  }

  &__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_type {
      &_first {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &__prices {
    display: grid;
    grid-gap: 22px;
    grid-template-columns: 1fr 1fr;

    &_type {
      &_first {
        display: grid;
        grid-gap: initial;
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

    &_type {
      &_first {
        display: grid;
        grid-area: first;
        grid-template-columns: 2fr 4fr;
      }

      &_second {
        display: grid;
        grid-area: second;
        grid-template-columns: 2fr 2fr;
      }

      &_third {
        display: grid;
        grid-area: third;
        grid-template-columns: 2fr 2fr;
      }

      &_fourth {
        grid-area: fourth;
      }
    }
  }
}

.related-mobile {
  display: none;

  @media screen and (max-width: 1300px) {
    display: block;
    margin-top: 21px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1300px) {
  .related-desktop {
    display: none;
  }
}
