.special-offer {
  margin-top: 39px;
  margin-bottom: 121px;

  &__inner {
    position: relative;
    display: grid;
    grid-gap: 52px;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    margin-top: 39px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__title {
    position: absolute;
    top: 23px;
    max-width: 250px;
    margin-left: 23px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
  }

  &__learn-more {
    position: absolute;
    bottom: 27px;
    left: 122px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__arrow {
    position: absolute;
    bottom: 31px;
    left: 238px;
    display: inline-block;
    padding: 3px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
  }

  &__item {
    position: relative;

    &:hover {
      .special-offer__image {
        outline: 4px solid #fff;
        outline-offset: -10px;
      }
    }
  }
}
