.account-feedback {
  margin-top: 34px;
  margin-bottom: 68px;

  &__inner {
    display: grid;
    grid-gap: 19px;
  }

  &__input {
    max-width: 462px;
    padding: 10px 0 10px 23px;
    font-size: 24px;
  }

  &__textarea {
    font-size: 14px;
    border: none;
    resize: none;
  }

  &__input::-webkit-input-placeholder {
    color: #aaa;
  }

  &__input::-moz-placeholder {
    color: #aaa;
  }

  textarea::-webkit-input-placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }

  textarea::placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 34px;

    &__title {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 1000px) {
    &__input {
      max-width: 329px;
      font-size: 16px;
    }

    &__inner {
      justify-content: center;
    }

    textarea::-webkit-input-placeholder {
      font-size: 16px;
    }

    textarea::placeholder {
      font-size: 16px;
    }
  }
}
