.account-card {
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: 'image title button';
  grid-template-columns: 148px 1fr 1fr;
  padding: 8px 18px 8px 8px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    grid-area: image;
    max-width: 148px;
    padding: 4px;
    overflow: hidden;
    border-radius: 20px;
  }

  &__vendor-code {
    grid-area: code;
    color: #8a8686;
    font-weight: 500;
    font-size: 20px;
  }

  &__amount {
    grid-area: amount;
    font-weight: 700;
    font-size: 24px;
  }

  &__title {
    display: flex;
    grid-area: title;
    grid-gap: 30px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__price {
    position: absolute;
    right: 18px;
    grid-area: price;
    font-weight: 500;
    font-size: 30px;

    &_size {
      &_big {
        font-size: 40px;
      }
    }
  }

  &__left-side,
  &__right-side {
    display: grid;
    grid-gap: 9px;
  }

  &__button-wrapper {
    grid-area: button;
  }

  &__icon {
    color: #66806a8c;
  }

  &__title-wrapper {
    grid-area: title;
  }

  &__icon-option {
    font-weight: 500;
    font-size: 20px;

    &_type {
      &_text {
        color: #b4b4b4;
      }
    }
  }

  &__sizes {
    display: flex;
    grid-area: option;
    grid-gap: 50px;
  }

  &__top-row {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }

  &__first-row {
    display: flex;
    grid-gap: 30px;
  }

  &__column-second {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
      'title title amount-price'
      'code code code'
      'option option option';
  }

  &__column-third {
    display: grid;
    align-items: end;
    justify-content: end;
  }

  &__size-column {
    display: flex;
    grid-gap: 24px;
    align-items: center;
  }

  &__icon-description {
    display: flex;
    grid-gap: 8px;
  }

  &__amount-price {
    grid-area: amount-price;
  }

  @media screen and (min-width: 769px) and (max-width: 1400px) {
    grid-gap: 5px;

    &__sizes {
      grid-gap: 5px;
    }

    &__icon-option {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    &__size-column {
      grid-gap: 10px;
    }

    &__title {
      font-size: 22px;
    }

    &__column-third {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -72px;
      left: 0;
      grid-template-areas: 'button';
      justify-content: center;
    }

    &__price {
      top: 5px;
      right: 5px;
      font-size: 26px;

      &_size {
        &_big {
          top: 50px;
          right: 0;
          font-size: 30px;
        }
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    &__price {
      top: 6px;
      font-size: 26px;

      &_size {
        &_big {
          top: 85px;
          right: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-gap: 7px;
    grid-template-areas: 'image';
    grid-template-columns: 122px 1fr;

    &__vendor-code {
      font-size: 14px;
    }

    &__column-second {
      grid-template-areas:
        'title'
        'code'
        'option'
        'amount-price';
    }

    &__first-row {
      display: unset;
    }

    &__price {
      position: relative;
      font-size: 18px;
    }

    &__column-third {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -72px;
      left: 0;
      grid-template-areas: 'button';
      justify-content: center;
    }

    &__amount {
      font-weight: 500;
      font-size: 16px;
    }

    &__icon-option {
      font-size: 14px;
    }

    &__sizes {
      flex-direction: column;
      grid-gap: 8px;
    }

    &__title {
      font-size: 16px;
    }

    &__amount-price {
      display: flex;
      grid-gap: 85px;
    }

    &__image {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}
