.adress-card {
  &__container {
    margin-top: 22px;
    padding: 21px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
  }

  &_edit-hidden {
    display: none;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__titles {
    display: flex;
    grid-gap: 79px;
    align-items: center;
  }

  &__data {
    display: grid;
    grid-gap: 26px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &__inner-save {
    display: grid;
    grid-gap: 26px;
    grid-template-rows: 1fr 1fr;
    margin-right: 18px;
    margin-left: 26px;
  }

  &__input {
    width: 602px;
    height: 38px;
    padding-left: 27px;
    color: #8d8d8d;
    font-size: 18px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 23px;

    &_edit {
      width: 492px;
      height: unset;
      padding: 15px;
      color: #506d84;
      border-radius: 7px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 188px 1fr 0fr;
    align-items: center;
    color: #8d8d8d;
    font-weight: 400;
    font-size: 18px;

    &_first {
      color: #000;
      font-weight: 700;
    }
  }

  &__row-save-buttons {
    display: flex;
  }

  &__row-save {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: 1fr 1fr;
    color: #8d8d8d;
    font-weight: 400;
    font-size: 18px;

    &_first {
      color: #000;
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #8d8d8d;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    white-space: nowrap;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &_save {
      display: unset;
    }
  }

  &__button-save {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #8d8d8d;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    white-space: nowrap;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__first-column {
    color: #000;
    font-weight: 700;
  }

  &__first {
    color: #000;
    font-weight: 700;
  }

  &__mobile-row {
    display: none;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    white-space: nowrap;
    text-transform: uppercase;

    &_second {
      color: #c56a6a;
      font-weight: 400;
      font-size: 17px;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    &_mobile-hidden {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      display: grid;
      grid-gap: 0;
      grid-template-columns: 1fr;
      margin-right: 0;
    }

    &__link {
      &_mobile-hidden {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__inner-save {
      display: grid;
      grid-gap: 25px;
      grid-template-rows: 1fr 1fr;
    }

    &__button-wrapper {
      display: none;
    }

    &__row-save {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
      color: #8d8d8d;
      font-weight: 400;
      font-size: 18px;
    }

    &__titles {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: 1fr;
    }

    &__title-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      display: none;

      &_mobile-hidden {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 259px;
      height: 38px;
      padding-left: 20px;
      font-size: 18px;
    }

    &__first {
      display: flex;
      color: #000;
      font-weight: 700;
    }

    &__row {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      font-weight: 400;
      font-size: 14px;
    }

    &__first-column {
      display: flex;
      margin-left: 60px;
      color: #000;
      font-weight: 700;
    }

    &__mobile-row {
      display: grid;
      grid-gap: 26px;
      grid-template-columns: 1fr;
      margin-top: 48px;
    }

    &__title {
      &_second {
        display: none;
        margin-top: 25px;
        font-weight: 400;
      }
    }
  }
}
