.arrow-next {
  &__background {
    border: 2px solid #889eaf;
    border-radius: 100px 100px 6px 100px;

    &_position {
      &_absolute {
        position: absolute;
        top: 22px;
        right: 12px;
        width: 30px;
        height: 30px;
      }

      &_relative {
        position: relative;
        width: 50px;
        height: 50px;
      }
    }

    &_type {
      &_mobile {
        position: relative;
        width: 38px;
        height: 38px;
      }
    }

    &:hover,
    &:focus {
      background-color: #889eaf;
      border-color: #889eaf;

      .arrow-next__inner,
      .arrow-next__inner::before,
      .arrow-next__inner::after {
        background-color: #fff;
      }
    }

    &:disabled {
      border-color: #e5e5e5;

      .arrow-next__inner,
      .arrow-next__inner::before,
      .arrow-next__inner::after {
        background-color: #e5e5e5;
      }
    }
  }

  &__inner {
    position: absolute;
    display: block;
    width: 14px;
    height: 2px;
    background-color: #889eaf;

    &_position {
      &_absolute {
        top: 15px;
        left: 8px;
      }

      &_relative {
        top: 24px;
        left: 17px;
      }
    }

    &_type {
      &_mobile {
        top: 20px;
        left: 12px;
      }
    }
  }

  &__inner::before {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 8px;
    height: 2px;
    background-color: #889eaf;
    transform: rotate(-45deg);
    content: '';
  }

  &__inner::after {
    position: absolute;
    top: -3px;
    right: -2px;
    width: 8px;
    height: 2px;
    background-color: #889eaf;
    transform: rotate(45deg);
    content: '';
  }
}
