.breadcrumbs {
  padding-top: 30px;

  &__container {
    position: relative;
    max-width: 1809px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    font-size: 17px;
  }

  &__item {
    position: relative;
    display: inline-block;

    &::before {
      border: 1px solid #8f8f8f;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 6px;
      display: inline-block;
      padding: 3px;
      border-color: inherit;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: '';
    }
  }

  &__link {
    padding-right: 15px;
    padding-left: 25px;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 768px) {
    &__link {
      font-size: 16px;
    }

    &__item {
      &:not(:first-child)::before {
        top: 7px;
        padding: 3px;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
