.cart-item {
  margin-bottom: 104px;

  &__item {
    position: relative;
    display: grid;
    grid-gap: 22px;
    grid-template-areas: 'image title column-third';
    grid-template-columns: 335px 1fr 1fr;
    max-width: 1200px;
    padding: 9px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__column-first {
    grid-area: image;
    max-width: 335px;
    padding: 4px;
  }

  &__items {
    display: grid;
    grid-gap: 24px;
  }

  &__main-title {
    font-size: 36px;
    text-transform: uppercase;
  }

  &__main-title-wrapper {
    margin-bottom: 28px;
    padding-top: 48px;
  }

  &__title-wrapper {
    display: flex;
    grid-area: title;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__specifications-size {
    display: flex;
    grid-gap: 14px;
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 69px;
  }

  &__title {
    display: flex;
    grid-area: title;
    grid-gap: 30px;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__vendor-code {
    grid-area: code;
    color: #8a8686;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
  }

  &__text {
    color: #8a8686;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__bin {
    grid-area: bin;
    max-width: 50px;
    height: 40px;
    padding: 10px;
    color: #fff;
    background-color: #889eaf;
    border-radius: 100px 6px 100px 100px;
  }

  &__delete-mobile-hidden {
    display: none;
  }

  &__amount {
    grid-area: amount;
    font-weight: 700;
    font-size: 24px;
  }

  &__price {
    grid-area: price;
    font-weight: 500;
    font-size: 40px;

    &_size {
      &_big {
        font-size: 40px;
      }
    }
  }

  &__left-side,
  &__right-side {
    display: grid;
    grid-gap: 9px;
  }

  &__button-wrapper {
    grid-area: button;
  }

  &__icon {
    color: #66806a8c;

    &_bin {
      z-index: 3;
      color: #fff;
    }

    &_size {
      color: #66806a8c;
    }
  }

  &__icon-option {
    font-weight: 500;
    font-size: 20px;

    &_type {
      &_text {
        color: #b4b4b4;
      }
    }
  }

  &__sizes {
    display: grid;
    grid-area: option;
    grid-gap: 50px;
  }

  &__top-row {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }

  &__first-row {
    display: flex;
    grid-gap: 30px;
  }

  &__bin-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__column-second {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
      'title title code'
      'option option option'
      'option option option';
    align-items: baseline;
  }

  &__column-third {
    display: grid;
    grid-area: column-third;
    grid-gap: 30px;
    grid-template-areas:
      'bin'
      'amount'
      'price';
    align-items: self-start;
    justify-content: end;
  }

  &__size-column {
    display: flex;
    grid-gap: 24px;
    align-items: center;
  }

  &__icon-description {
    display: flex;
    grid-gap: 8px;
  }

  &__amount-price {
    grid-area: amount-price;
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    &__title {
      font-size: 16px;
      white-space: unset;
    }
  }

  @media screen and (max-width: 1000px) {
    &__title {
      font-size: 16px;
      white-space: unset;
    }

    &__vendor-code {
      font-size: 14px;
      white-space: unset;
    }

    &__sizes {
      grid-gap: 10px;
    }

    &__price {
      font-size: 16px;
      white-space: nowrap;
    }

    &__item {
      grid-gap: 5px;
      grid-template-areas:
        'image title'
        'image column-third';
      grid-template-columns: 122px 1fr;
    }

    &__column-second {
      grid-gap: 8px;
      grid-template-areas:
        'title'
        'code'
        'option'
        'column-third';
    }

    &__column-third {
      grid-gap: 17px;
      grid-template-areas: 'amount price';
      align-items: center;
      justify-content: space-between;
    }

    &__icon-option {
      font-size: 14px;
    }

    &__bin {
      position: absolute;
      top: -45px;
      right: -5px;
      padding: 10px;
      color: #fff;
      background-color: #889eaf;
      border-radius: 50% 50% 50% 6%;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    &__price {
      font-size: 26px;
    }

    &__column-third {
      display: grid;
      grid-template-areas: 'amount price';
      grid-template-columns: 200px 1fr;
      align-items: center;
      justify-content: start;
    }
  }
}
