.card {
  display: grid;
  grid-gap: 24px;

  &__item {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 2fr 1fr;
    padding: 17px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 16px;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__title {
    margin-top: 58px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 8px;
    margin-top: 23px;
  }

  &__category-wrapper {
    display: grid;
    grid-gap: 108px;
  }

  &__price {
    color: #000;
    font-weight: 500;
    font-size: 35px;
  }

  &__icon {
    &_arrow {
      color: #889eaf;
    }
  }

  &__price-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 52px;
  }

  &__favourites-text {
    font-weight: 500;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    &__title {
      margin-top: 21px;
      font-weight: 700;
      font-size: 12px;
    }

    &__item {
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr;
      padding: 5px;
    }

    &__text {
      color: #8a8686;
      font-size: 10px;
    }

    &__price {
      font-size: 14px;
    }

    &__price-container {
      margin-top: 0;
    }

    &__favourites {
      align-items: start;
      margin-top: 9px;
    }

    &__favourites-text {
      display: none;
    }

    &__icon {
      &_arrow {
        width: 25px;
        height: 25px;
      }
    }

    &__category-wrapper {
      grid-gap: 0;
    }

    &__text-wrapper {
      grid-gap: 3px;
      margin-top: 9px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    &__item {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1530px) {
    &__category-wrapper {
      grid-gap: 0;
    }
  }
}
