.checkmark {
  &__agreement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    text-align: center;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__label {
    color: #a5a5a5;
    font-size: 14px;
  }

  &__checkbox + .checkmark__label {
    align-items: center;
    user-select: none;
  }

  &__checkbox + .checkmark__label::before {
    display: inline-block;
    box-sizing: border-box;
    width: 26px;
    height: 24px;
    margin-right: 10px;
    color: #0175d6;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
    border: 2px solid #0175d6;
    border-radius: 6px;
    content: '\00A0';
  }

  &__checkbox:checked + .checkmark__label::before {
    content: '\2713';
  }

  @media screen and (max-width: 1000px) {
    &__agreement {
      display: flex;
      flex-direction: column;
      grid-gap: 21px;
    }
  }
}
