.circle-arrow {
  &__link {
    color: #506d84;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .circle-arrow-icon {
    position: relative;
    top: -1px;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;

    .circle-arrow-icon--circle {
      transition: stroke-dashoffset 0.3s ease;
      stroke-dasharray: 95;
      stroke-dashoffset: 95;
    }

    &:hover {
      .circle-arrow-icon {
        transform: translate3d(5px, 0, 0);
      }

      .circle-arrow-icon--circle {
        stroke-dashoffset: 0;
      }
    }
  }
}
