.contacts-form {
  &__form {
    margin-top: 22px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-bottom: 23px;
  }

  &__input {
    margin: 0 auto;
    padding: 20px 0 20px 20px;
  }

  &__textarea {
    font-size: 24px;
    border: none;
    resize: none;
  }

  &__input::-webkit-input-placeholder {
    color: #aaa;
  }

  &__input::-moz-placeholder {
    color: #aaa;
  }

  textarea::-webkit-input-placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }

  textarea::placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }
}
