.delivery-navigation {
  &__list {
    display: grid;
    grid-gap: 22px;
    margin: 0;
    list-style-type: none;
  }

  &__list-title {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__link {
    color: #9a9a9a;
    font-weight: 400;
    font-size: 16px;

    &:first-child {
      margin-top: 12px;
    }
  }
}
