.extra-swiper {
  position: relative;
  margin-top: 22px;
  margin-bottom: 48px;

  &__inner {
    display: grid;
    grid-gap: 19px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__item {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 48px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
  }

  &__price {
    font-weight: 500;
    font-size: 14px;
  }

  &__bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__bottom-row {
      padding: 11px 4px 4px 0;
    }
  }
}
