.extra {
  margin-top: 200px;
  margin-bottom: 10px;

  &__inner {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  &__column-first {
    display: grid;
    grid-gap: 15px;
  }

  &__top-row {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 3fr;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);

    &_size {
      &_big {
        grid-template-columns: 1fr;
        padding: 20px;
      }
    }
  }

  &__bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 10px 10px 0;

    &_size {
      &_big {
        padding: 0 10px 10px 0;
      }
    }
  }

  &__prices {
    display: flex;
    grid-gap: 21px;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__price {
    color: #506d84;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;

    &_size {
      &_big {
        font-weight: 700;
        font-size: 36px;
      }
    }
  }

  &__old-price {
    color: #cdcccc;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: line-through;

    &_size {
      &_big {
        font-size: 36px;
      }

      &_small {
        font-size: 22px;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    max-width: 220px;
    overflow: hidden;
  }

  @media screen and (max-width: 1000px) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

.extra-mobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.extra-desktop {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
