.feedback-card {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 64px;

  &__advantage {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: 1fr;
    padding: 35px 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  &__advantage-title {
    font-weight: 700;
    font-size: 24px;
  }

  &__text {
    font-size: 16px;
  }

  &__icon {
    color: #889eaf;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 26px;
    overflow-y: scroll;

    &__advantage {
      width: 272px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
