.hamburger {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px auto;
    padding: 7px 0;
    background-color: #fff;
  }

  &__bottom-text {
    color: #506d84;
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    &__logo {
      width: 161px;
      height: 36px;
    }
  }
}

.mm-panel {
  --mm-color-background: #fff;
}

.mm-navbar {
  &:not(.class-for-increase-of-specification) {
    display: grid;
    grid-gap: 5px;
  }
}

#my-menu {
  z-index: 3;
  background-color: #fff;
}
