.header-navigation {
  display: flex;
  grid-gap: 36px;

  &__details {
    cursor: pointer;
  }

  &__summary {
    display: flex;
    grid-gap: 7px;
    align-items: baseline;
    font-size: 18px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: #506d84;
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    grid-gap: 11px;
    margin: 13px 0;
    padding: 35px 39px;
    list-style-type: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__link {
    color: #506d84;
    font-size: 15px;
  }

  &__top-link {
    white-space: nowrap;

    &:hover,
    &:focus {
      color: #506d84;
    }
  }

  &__details > &__summary {
    list-style: none;
  }

  &__details &__summary::-webkit-details-marker {
    display: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 9px;
    padding: 3px;
    color: #000;
    cursor: pointer;
    content: '';

    &_type {
      &_arrow-up {
        display: none;
      }
    }
  }

  &__details[open] {
    .header-navigation__icon {
      &_type {
        &_arrow-down {
          display: none;
        }

        &_arrow-up {
          display: flex;
        }
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    display: grid;
    grid-gap: 20px;
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    display: grid;
    grid-gap: 20px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1730px) {
    grid-gap: 10px;
    font-size: 14px;

    &__summary {
      grid-gap: 7px;
      align-items: center;
      font-size: 14px;
    }
  }
}
