.history-card {
  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__container {
    max-width: 1026px;
    margin-top: 27px;
    padding-bottom: 26px;
    overflow: hidden;
    background-color: #fff;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
    background-color: #fff;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 19px 10px 19px 53px;
    font-size: 18px;

    &_type {
      &_hover {
        display: none;
      }
    }

    &__content {
      &:hover {
        border-radius: 9px;
        box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
        cursor: pointer;

        .history-card__row_type_hover {
          display: flex;
          justify-content: space-between;
          padding: 0 120px 0 40px;
        }
      }
    }

    &_first {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: white;
      text-align: left;
      text-transform: uppercase;
      background: #889eaf;
      border-radius: 7px 7px 0 0;

      &:hover {
        border-radius: unset;
        box-shadow: none;
      }
    }
  }

  &__third {
    color: #889eaf;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    white-space: nowrap;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      border-radius: unset;
      box-shadow: none;
    }
  }

  &__column-third {
    display: flex;
    grid-gap: 16px;
    align-items: center;
  }

  &__look {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__icon {
    color: #889eaf;
  }

  &__summary {
    &_desktop-hidden {
      display: none;
    }

    &_type {
      &_adress {
        max-width: 200px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    &__column {
      &_adress,
      &_price {
        display: none;
      }
    }

    &__row {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 20px;
      text-align: center;

      &_type {
        &_hover {
          display: none;
        }
      }
    }

    &__inner {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__column-third {
      justify-content: center;

      &_mobile-hidden {
        display: none;
      }
    }

    &__summary {
      font-size: 12px;

      &_desktop-hidden {
        display: block;
        color: #889eaf;
        font-size: 12px;
      }

      &_type {
        &_adress {
          max-width: unset;
        }
      }
    }

    &__third {
      font-size: 12px;
    }

    &__content {
      &:hover {
        .history-card__row_type_hover {
          display: flex;
          justify-content: space-around;
          padding: 0;
        }
      }
    }
  }

  @media screen and (min-width: 1001px) and (max-width: 1300px) {
    &__content {
      &:hover {
        .history-card__row_type_hover {
          display: flex;
          justify-content: space-around;
          padding: 0 40px 0 0;
        }
      }
    }
  }

  @media screen and (max-width: 1201px) {
    &__title {
      text-align: center;
    }
  }

  //@media screen and (min-width: 1001px) and (max-width: 1300px) {
  //  .history-card__row_type_hover {
  //    justify-content: space-evenly;
  //    padding: 0 0 0 40px;
  //  }
  //}
}
