.line {
  &__container {
    position: relative;
    max-width: 1754px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__item {
    outline: 3px solid #889eaf3d;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
