.main-swiper {
  --swiper-pagination-color: #506d84;
  --swiper-pagination-bullet-horizontal-gap: 23px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-width: 75px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-inactive-opacity: 1;

  .swiper-pagination-main {
    &:not(.class-for-increase-of-specification) {
      bottom: 16%;
      padding-left: 11%;
      text-align: left;

      @media screen and (max-width: 500px) {
        padding: 0;
        text-align: center;
      }

      @media screen and (min-width: 501px) and (max-width: 768px) {
        bottom: 25%;
        padding: 0;
        text-align: center;
      }

      @media screen and (min-width: 769px) and (max-width: 1400px) {
        padding: 0;
        text-align: center;
      }

      @media screen and (min-width: 1401px) and (max-width: 1520px) {
        bottom: 12%;
        padding-left: 11%;
        text-align: left;
      }
    }
  }

  .swiper-pagination-bullet {
    &:not(.class-for-increase-of-specification) {
      border-radius: 0;
    }

    @media screen and (max-width: 768px) {
      --swiper-pagination-bullet-height: 4px;
      --swiper-pagination-bullet-width: 60px;
      --swiper-pagination-bullet-horizontal-gap: 13px;
    }
  }

  &__image {
    width: 100%;
  }

  &__container {
    position: relative;
  }

  &__text-wrapper {
    position: absolute;
    top: 50px;
    left: 12%;
  }

  &__title {
    max-width: 750px;
    color: white;
    font-weight: 700;
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
  }

  &__text {
    max-width: 600px;
    margin-top: 30px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width: 500px) {
    &__text-wrapper {
      top: 40%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    &__title {
      top: 29px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-size: 16px;
      text-align: center;
    }

    &__text {
      top: 110px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 10px auto;
      font-size: 18px;
      text-align: center;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 768px) {
    &__text-wrapper {
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    &__title {
      top: 29px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-size: 20px;
      text-align: center;
    }

    &__text {
      top: 110px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 10px auto;
      font-size: 18px;
      text-align: center;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    &__text-wrapper {
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    &__title {
      top: 29px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-size: 26px;
      text-align: center;
    }

    &__text {
      top: 110px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 10px auto;
      font-size: 22px;
      text-align: center;
    }
  }

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    &__text-wrapper {
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    &__title {
      top: 40px;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 410px;
      margin: auto;
      font-size: 30px;
      text-align: center;
    }

    &__text {
      top: 130px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 30px auto;
      font-size: 24px;
      text-align: center;

      &_third {
        top: 110px;
      }
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    &__text-wrapper {
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    &__title {
      top: 29px;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 410px;
      margin: 0 auto;
      font-size: 30px;
      text-align: center;
    }

    &__text {
      top: 110px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 30px auto;
      font-size: 24px;
      text-align: center;
    }
  }
}
