.order-card {
  position: relative;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin-top: 31px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__image-wrapper {
    padding: 4px;
    overflow: hidden;
    border-radius: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
  }

  &__vendor-code {
    display: flex;
    justify-content: center;
    color: #8a8686;
    font-size: 12px;
  }

  &__text {
    color: #b4b4b4;
    font-size: 15px;
  }

  &__size {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
  }

  &__amount {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
  }

  &__price {
    font-weight: 500;
    font-size: 30px;
  }

  &__parameters {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  &__left-side,
  &__right-side {
    display: grid;
    grid-gap: 9px;
  }

  &__column-description {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    align-items: unset;
    padding: 5px;

    &__column-description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 27px;
    }

    &__amount {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      transform: rotate(-90deg);
    }

    &__amount-wrapper {
      position: absolute;
      top: -22px;
      right: 7px;
      padding: 10px 15px;
      background: #889eaf;
      border-radius: 100px 100px 6px 100px;
      transform: rotate(90deg);
    }

    &__parameters {
      grid-gap: 10px;
      align-items: start;
      margin-bottom: 10px;
    }

    &__amount-sign {
      display: none;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
    }

    &__vendor-code {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-size: 10px;
    }

    &__text {
      font-size: 10px;
    }

    &__size {
      font-size: 10px;
    }

    &__price {
      display: flex;
      align-items: start;
      justify-content: center;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
    }

    &__left-side,
    &__right-side {
      grid-gap: 0;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    grid-gap: 0;
    padding: 5px;

    &__title {
      font-size: 12px;
    }

    &__vendor-code {
      font-size: 10px;
    }

    &__text {
      font-size: 10px;
    }

    &__size {
      font-size: 10px;
    }

    &__price {
      font-size: 14px;
    }
  }
}
