.pop-up {
  max-width: 451px;
  background-color: #fff;
  border-radius: 30px;

  &__password-recovery {
    text-align: center;
  }

  &__checkmark {
    padding-left: 5px;
    text-align: center;

    &_position {
      &_left {
        text-align: left;
      }
    }
  }

  &__go-back {
    text-align: center;
  }

  &__content {
    max-width: 634px;
    font-size: 18px;
    text-align: center;
  }

  &__title-wrapper {
    margin-bottom: 30px;
    text-align: center;

    &_type {
      &_question {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    &_type {
      &_question {
        font-weight: 500;
        text-align: left;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 49px 40px 49px;
  }

  &__register {
    text-align: center;
  }

  &__text {
    font-size: 14px;

    &_underline {
      text-decoration: underline;
    }

    &_type {
      &_question {
        font-size: 16px;
        text-align: left;
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 370px;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    font-family: inherit;
    text-align: left;
    background-color: #f5f5f5;
    border: none;
    border-radius: 7px;

    &_phone {
      width: 250px;
    }
  }

  &__input::-webkit-input-placeholder {
    color: #61827f;
  }

  &__input::-moz-placeholder {
    color: #61827f;
  }

  &__image {
    width: 500px;
    height: auto;
  }

  @media screen and (max-width: 1000px) {
    &__image {
      width: 100%;
    }
  }
}
