.price-cart {
  display: none;

  @media screen and (min-width: 561px) and (max-width: 1200px) {
    position: sticky;
    bottom: 0;
    z-index: 5;
    display: flex;
    grid-gap: 36px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);

    &__price {
      font-size: 30px;
      white-space: nowrap;
    }

    &__price-old {
      color: #8a8686;
      white-space: nowrap;
      text-decoration: line-through;
    }

    &__order {
      display: grid;
      grid-gap: 36px;
      grid-template-columns: 1fr 1fr;
    }

    &__icon {
      width: 36px;
      height: 35px;
    }
  }

  @media screen and (max-width: 560px) {
    position: sticky;
    bottom: 0;
    z-index: 5;
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);

    &__price {
      font-size: 18px;
      white-space: nowrap;
    }

    &__price-old {
      color: #8a8686;
      font-size: 14px;
      white-space: nowrap;
      text-decoration: line-through;
    }

    &__icon-cart {
      width: 23px;
      height: 23px;
    }
  }
}
