.product-description {
  &__inner {
    padding: 39px 50px;
    background-color: #889eaf1a;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 10px;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    border-radius: 50% 50% 6% 50%;

    &.active {
      color: #fff;
      background-color: #889eaf;
    }
  }

  &__category {
    color: #b4b4b4;
    font-weight: 500;
    font-size: 20px;
  }

  &__price-wrapper {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
  }

  &__price {
    font-weight: 500;
    font-size: 48px;
    white-space: nowrap;
  }

  &__price-old {
    color: #8a8686;
    font-weight: 500;
    font-size: 32px;
    white-space: nowrap;
    text-decoration: line-through;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__specifications-option {
    color: #929292;
    font-weight: 500;
    font-size: 16px;
  }

  &__specifications {
    margin-top: 37px;
    border-top: 3px solid #889eaf3d;
  }

  &__specification-title {
    font-weight: 500;
    font-size: 20px;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon-cart {
    color: #fff;
  }

  &__order {
    display: flex;
    grid-gap: 36px;
  }

  &__icon-text {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
  }

  &__specifications-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 12px;
  }

  &__specifications-column {
    display: grid;
    grid-gap: 9px;
  }

  &__vendor-code {
    color: #8a8686;
    font-weight: 500;
    font-size: 20px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    margin: 47px 0;
  }

  &__star {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    align-items: end;
  }

  &__star-text {
    font-weight: 500;
    font-size: 14px;
  }

  &__row {
    display: flex;
  }

  &__column-first {
    display: flex;
    grid-gap: 13px;
    align-items: center;
    width: 182px;
  }

  &__btn {
    margin-left: auto;
  }

  &__column-second {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    padding: 0 30px;
  }

  &__all-options {
    display: grid;
    grid-gap: 60px;
    margin-top: 34px;
  }

  @media screen and (max-width: 768px) {
    &__specifications {
      display: none;
    }

    &__order {
      display: flex;
    }

    &__price-wrapper {
      display: grid;
      grid-gap: 36px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__cart {
      margin-right: 20px;
    }

    &__title {
      font-size: 20px;
    }

    &__category {
      color: #b4b4b4;
      font-weight: 500;
      font-size: 16px;
      text-decoration: underline;
    }

    &__vendor-code {
      font-weight: 500;
      font-size: 16px;
    }

    &__title-wrapper {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr;
    }

    &__price {
      font-size: 30px;
    }

    &__inner {
      padding: 20px;
    }

    &__lamel {
      width: 18px;
      height: 18px;
    }

    &__icon {
      width: 23px;
      height: 23px;
      color: #66806a8c;
    }

    &__row {
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
    }

    &__btn {
      margin-left: unset;
    }

    &__column-second {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    &__specifications {
      display: none;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1500px) {
    &__title {
      white-space: nowrap;
    }

    &__all-options {
      grid-gap: 30px;
      margin-top: 0;
    }

    &__title-wrapper {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }

    &__price-wrapper {
      align-items: start;
    }

    &__order {
      align-items: flex-start;
    }

    &__amount {
      margin: 0;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    &__price {
      font-size: 34px;
    }

    &__price-old {
      font-size: 30px;
    }

    &__order {
      grid-gap: 10px;
    }
  }
}
