.product {
  &__swiper {
    position: relative;
    max-width: 644px;
  }

  &__wrapper {
    cursor: pointer;
  }

  &__button {
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &_prev {
      bottom: 6%;
      left: -30px;

      @media screen and (max-width: 500px) {
        bottom: 0;
        left: -25px;
      }

      @media screen and (min-width: 501px) and (max-width: 768px) {
        bottom: 3%;
        left: -25px;
      }
    }

    &_next {
      right: -32px;
      bottom: 7%;

      @media screen and (max-width: 500px) {
        right: -25px;
        bottom: 0;
      }

      @media screen and (min-width: 501px) and (max-width: 768px) {
        right: -25px;
        bottom: 4%;
      }
    }
  }

  &__thumbs {
    max-width: 600px;
    margin-top: 10px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1500px) {
    &__swiper {
      max-width: 570px;
    }
  }
}

.product-button-next {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 12px;
  height: 12px;
  color: #e91e63;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

.product-button-prev {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 12px;
  height: 12px;
  color: #e91e63;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(225deg);
}

.product-thumb-container {
  display: inline-flex;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  filter: drop-shadow(0 10px 20px rgba(74, 123, 129, 0.07));
}
