.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  height: 100%;
  text-align: center;
  background-color: #506d84;
  border-radius: 6px 13px;

  &__number {
    width: 50px;
    color: #fff;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    background: none;
    border: none;
    outline: none;
  }

  &__btn {
    padding: 13px 24px;
    background: none;
    border: none;
    border-radius: 10%;
    cursor: pointer;

    &_left {
      border-right: 4px solid #fff;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_right {
      border-left: 4px solid #fff;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__sign {
    color: #fff;
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    &__sign {
      font-size: 18px;
    }

    &__input {
      width: 26px;
      font-size: 10px;
    }

    &__btn {
      padding: 4px 7px;
    }

    &__number {
      width: 20px;
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    &__btn {
      padding: 5px 15px;
    }
  }
}
