.question-card {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;

  &__inner {
    margin-top: 31px;
  }

  &__text {
    color: #506d84;
    font-size: 18px;
  }

  &__details {
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
    cursor: pointer;
  }

  &__summary {
    display: grid;
    grid-template-columns: 1fr 34px;
    font-weight: 500;
    font-size: 20px;

    &:hover {
      color: #506d84;
    }
  }

  &__details > &__summary {
    list-style: none;
  }

  &__details &__summary::-webkit-details-marker {
    display: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 3px;
    color: #fff;
    background-color: #889eaf;
    border-radius: 50%;
    cursor: pointer;
    content: '';

    &_type {
      &_minus {
        display: none;
      }
    }
  }

  &__details[open] {
    .question-card__icon {
      &_type {
        &_plus {
          display: none;
        }

        &_minus {
          display: flex;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-gap: 16px;
    grid-template-columns: 1fr;

    &__summary {
      grid-gap: 0;
      font-size: 14px;
    }

    &__details {
      padding: 14px;
    }

    &__text {
      font-size: 14px;
    }

    &__inner {
      margin-top: 20px;
    }
  }
}
