.related-swiper-container {
  padding: 24px 15px;
  background-color: #506d84;

  &__text-wrapper {
    margin-bottom: 30px;
  }

  &__wrapper {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  &__title {
    margin-top: 35px;
    margin-bottom: 27px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 9px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__category {
    color: #8a8686;
    font-weight: 500;
    font-size: 14px;
  }

  &__price {
    color: #506d84;
    font-weight: 500;
    font-size: 20px;
  }

  &__old-price {
    color: #cdcccc;
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
  }

  &__first-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__icon {
    color: #889eaf;
  }
}

.related-swiper {
  &__container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 4px 4px 0;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__slides {
    display: grid;
    grid-gap: 16px;
  }

  &__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}
