.reviews {
  margin-top: 161px;
  margin-bottom: 38px;

  &_comment-hidden {
    display: none;
  }

  &_question-hidden {
    display: none;
  }

  &__inner {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(189, 189, 189, 0.5);
  }

  &__inputs {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr;
  }

  &__button-first {
    position: absolute;
    top: -90px;
    padding: 30px 80px;
    font-weight: 500;
    font-size: 30px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -5px 14px -1px rgb(0 0 0 / 11%);
  }

  &__button-second {
    position: absolute;
    top: -90px;
    left: 310px;
    padding: 30px 80px;
    font-weight: 500;
    font-size: 30px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -5px 14px -1px rgb(0 0 0 / 11%);
  }

  &__title-wrapper {
    display: flex;
    grid-gap: 13px;
  }

  &__mark {
    color: #889eaf;
  }

  &__marks {
    display: flex;
    grid-gap: 49px;
    margin-bottom: 65px;
    margin-left: 52px;

    &_comment-hidden {
      margin-left: 0;
    }
  }

  &__number-inputs {
    display: flex;
    grid-gap: 15px;
  }

  &__button {
    margin-right: 56px;
    margin-bottom: 65px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_comment-hidden {
      margin-left: 83px;
    }
  }

  &__input {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 10px 23px;
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 13px;

    &_name {
      max-width: 715px;
      margin: 80px 0 0 60px;
    }

    &_text {
      width: unset;
      margin: 0 60px 50px 65px;
    }
  }

  &__textarea {
    font-size: 24px;
    border: none;
    resize: none;
  }

  &__input::-webkit-input-placeholder {
    color: #aaa;
  }

  &__input::-moz-placeholder {
    color: #aaa;
  }

  textarea::-webkit-input-placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }

  textarea::placeholder {
    color: #aaa;
    font-size: 24px;
    font-family: inherit;
  }

  &__name {
    font-weight: 500;
    font-size: 35px;
  }

  &__comment {
    color: #506d84;
    font-size: 30px;
  }

  &__comment-wrapper {
    display: grid;
    grid-gap: 17px;
    padding: 113px 120px 88px 83px;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 80px;

    &__button-first,
    &__button-second {
      top: -40px;
      padding: 16px 38px;
      font-size: 12px;
    }

    &__button-second {
      left: 150px;
      padding: 16px 8px;
    }

    &__input {
      padding: 10px 0 10px 12px;

      &_name {
        max-width: 272px;
        margin: 11px 18px 9px 11px;
      }

      &_text {
        width: unset;
        margin: 0 18px 37px 11px;
      }
    }

    &__bottom {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__marks {
      display: grid;
      grid-gap: 16px;
      margin-bottom: 43px;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }

    &__number {
      color: #506d84;
      font-weight: 500;
      font-size: 20px;
    }

    &__bottom {
      &_comment-hidden {
        margin-left: 40px;
      }
    }

    &__name {
      font-weight: 500;
      font-size: 16px;
    }

    &__comment {
      color: #506d84;
      font-size: 12px;
    }

    &__comment-wrapper {
      display: grid;
      grid-gap: 17px;
      padding: 40px;
    }
  }
}
