.search-field {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  transform: translate3d(-210%, 0, 0);

  &.active {
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
  }

  &__form {
    display: flex;
    max-width: 268px;
    height: 33px;
    overflow: hidden;
    border-radius: 12px;

    &:hover {
      outline-color: black;
    }
  }

  &__inner {
    top: 0;
    left: 0;
    display: flex;
    grid-gap: 26px;
    align-items: start;
    width: 100vw;
    height: 100vh;
    padding: 20px 10px;
  }

  &__input {
    width: 100%;
    padding: 0 10px;
    background: #889eaf52;
    border: none;
    outline: none;
  }

  &__cancel {
    margin-top: 10px;
    color: #506d84;
    font-weight: 500;
    font-size: 15px;
  }

  &__clear {
    color: #b7b7b7;
    font-weight: 500;
    font-size: 15px;
  }

  &__text {
    color: #506d84;
    font-weight: 500;
    font-size: 15px;
  }

  &__row {
    display: flex;
    grid-gap: 10px;
  }

  &__icon {
    color: #506d84;
  }

  &__column-first {
    display: grid;
    grid-gap: 17px;
    grid-template-columns: 1fr;
  }
}

.search-button {
  padding: 0;
  background-color: transparent;
  border: 0;
  transition: all 0.75s ease;
}

.search-button:focus,
.js-search-button-active:focus {
  outline: 0;
}

.search-button:hover {
  cursor: pointer;
}
