.service {
  margin-top: 29px;

  &__inner {
    display: grid;
    grid-gap: 20px;
  }

  &__item {
    display: grid;
    grid-gap: 39px;
    margin-bottom: 20px;
    padding: 45px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__heading {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text-wrapper {
    display: grid;
    grid-gap: 17px;
  }

  &__mobile-hidden {
    display: none;
  }

  @media screen and (max-width: 768px) {
    &__desktop-hidden {
      display: none;
    }

    &__mobile-hidden {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__details {
      margin-bottom: 10px;
      padding: 22px;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);
    }

    &__details > &__summary {
      list-style: none;
    }

    &__details > &__summary::-webkit-details-marker {
      display: none;
    }

    &__details[open] &__summary::after {
      border: none;
      content: '';
    }

    &__summary::after {
      position: absolute;
      right: 30px;
      width: 9px;
      height: 9px;
      color: #e91e63;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(135deg);
      content: '';
    }

    &__heading {
      margin-top: 20px;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}
