.submenu {
  max-width: 300px;
  padding-bottom: 26px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.5);

  &__container {
    background-color: #fff;
  }

  &__icon {
    padding-right: 5px;
    color: #506d84;
  }

  &__inner {
    background-color: #fff;
  }

  &__summary {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25px 1fr;
    align-items: center;
    max-width: 300px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: #506d84;
    }
  }

  @media screen and (max-width: 1000px) {
    height: unset;
    padding-bottom: 0;
    overflow: hidden;
    border-radius: unset;
    box-shadow: unset;

    &__inner {
      display: flex;
      grid-gap: 14px;
      padding-bottom: 20px;
      overflow-y: scroll;
    }

    &__icon {
      flex-shrink: 0;
      color: #fff;
    }

    &__summary {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 13px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
      text-transform: uppercase;
      background-color: #506d84;
      border-radius: 5px;
    }
  }
}
